*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}
body {
    color: #202223;
    padding: 0;
    margin: 0;
    color: #6d6d6d;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 150%;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}
.wrap{
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

p{
    color: #6d6d6d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

h1 {
    font-size: 2em;
    margin: 40px 0 30px 0;
}

h2{
    color: #2a2937;
    font: 400 40px "Open Sans";
    margin: 20px 0;
}
h2 strong{
    font: 700 40px "Open Sans";
}
h2 .blue{
    color: #467ffd;
}
h2 .orange{
    color: #feb64c;
}
h2 .white{
    color: #fff;
}

a:hover {
    cursor: pointer;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
img {
    -ms-interpolation-mode: bicubic;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.hide {
    display: none;
}


.btn{
    font: 14px/45px "Open Sans";
    text-align: center;
    height: 45px;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.blue_btn{
    color: #ffffff;
    background-color: #0061ff;
    border: none;
}
.btn:hover{
    opacity: 0.8;
}
.white_bnt{
    background: #fff;
    color: #262435;
}



.red_text{
    color: #ff6182;
}

.blue_text{
    color: #0080ff;
}


/*----------------HEADER------------------*/

header{
    padding: 20px 42px 20px 42px;
    height: 89px;
    background: #fff;
    z-index: 10;
    box-shadow: 4px 0 18px rgba(0, 0, 0, 0.12);
}
header .logo{
    height: 48px;
    display: inline-block;
    margin-right: 40px;
    margin-left: 0;
    vertical-align: -webkit-baseline-middle;
}
header .logo img{
    height: 100%;
}
header ul{
    padding: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
header li{
    display: inline-block;
}
header a{
    color: #2a2937;
    font: 600 14px/21px "Open Sans";
    margin: 0 15px;
}
header a.active{
    color: #ff4f01;
}



.form-group{
    position: relative;
}
.form-control {
    margin-bottom: 35px;
    position: relative;
    height: 100%;
    padding: 0;
    border:0;

}
.form-control label {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 15px;
    top: 10px;
    margin: 0;
    color: #aaa;
    font: 200 17px 'Open Sans';
    -webkit-transition: .2s;
    transition: .2s;
}
.form-control input{
    display: block;
    outline: none;
    width: 100%;
    margin: 0;
    background: #fff;
    border: 1px solid #bdc4c9;
    box-shadow: none;
    padding: 10px 15px;
    height: 42px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px/16px "Open Sans";
}

select.form-control{
    display: block;
    outline: none;
    width: 100%;
    margin: 0 0 35px;
    background: #fff;
    border: 1px solid #bdc4c9;
    box-shadow: none;
    padding: 10px 15px;
    height: 42px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px/16px "Open Sans";
}
.field-events-id_country .control-label,
.field-events-id_cate_event .control-label,
.field-userprofile-user_type .control-label,
.field-user-status .control-label{
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    color: #484848;
    top: -20px;
    font: 200 12px 'Open Sans';
}
.field-events-text{
    margin-bottom: 20px;
}
input:focus{
    outline: none;
}
.form-control input:focus{
    border: 1px solid #ffd16d;
    box-shadow: 0 0 10px #eee;
}
.form-control textarea{
    display: block;
    outline: none;
    width: 100%;
    margin: 0;
    background: #fff;
    border: 1px solid #bdc4c9;
    box-shadow: none;
    padding: 20px 15px;
    height: 150px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px/16px "Open Sans";
}
.form-control .help-block-error {
    position: absolute;
    bottom: -12px;
    margin: 0;
    left: 16px;
    font: 400 11px/12px "Open Sans";
    color: #ff0f5e;
    font-style: italic;
}
.form-control label{
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    color: #484848;
    top: -20px;
    font-size: 12px;
}




.site-login h2{
    max-width: 570px;
}
.site-login .form{
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    width: 360px;
    margin: 15px auto 0;
    position: relative;
    font: 400 12px/20px "Open Sans";
    text-align: left;
}
.site-login .form_title{
    text-align: center;
    color: #2a2937;
    font: 700 40px "Open Sans";
    margin: 20px auto 20px;
}
.site-login .form-control{
    width: 100%;
}
.site-login .forgot_pass{
    color: #6d6d6d;
    margin: 10px 0;
}
.site-login .btn{
    display: block;
    margin: 20px 0;
    width: 100%;
}
.site-login .register_account{
    display: block;
    text-align: center;
}
 .site-login .secure_info{
    padding: 0 0 0 30px;
    margin: 10px 0;
    background: url("../img/secure.png") no-repeat;
}
.site-login .btn{
    width: 100%;
}
.site-login .register_account{
    width: 100%;
}





/*checkbox*/
#loginform-rememberme{
    left: 23px;
    position: absolute;
    margin-top: 16px;
    opacity: 0;
    display: block!important;
}
/*checkbox*/
.custom_checkbox{
    display: none;
}
.custom_checkbox + label{
    position: relative;
    padding: 0 0 0 25px;
    color: #6d6d6d;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0;
}
.custom_checkbox + label:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #dbdbdb;
    left: 0;
    transition: background-color .2s linear;
}
.custom_checkbox:checked + label:before{
    background: #fb6180 url(../img/checkbox.png) center / 13px no-repeat;
    border: 1px solid #fb6180;
}



.table {
    width: 100%;
    text-align: left;
    border-spacing: initial;
    border: 1px solid #f7f8f9;
    margin: 0 0 50px;
    font: 400 14px/18px "Open Sans";
}
.table th,
.table td{
    padding: 10px 5px;
    border: 1px solid #f1f1f1;
}
.table th{
    background: #f8f8f8;
    color: #6d6d6d;
}
.table th a{
    color: #6d6d6d;
}

#w0-filters{
    display: none;
}
.adminpanel_form{
    padding: 30px 0 100px;
}

.field-partners-title_partner,
.user-create .adminpanel_form form,
.events-view form,
.partners-form form,
#form_type_event,
.user-update .adminpanel_form form{
    max-width: 500px;
}






/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: block;
    user-select: none;
}
.custom-select-wrapper select {
    display: none;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 1;
}
.custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    line-height: 42px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #d8dae6;
    border-radius: 3px;
    padding: 10px 15px;
    color: #2a2937;
    font: 400 15px "Open Sans";
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #d8dae6;
    border-right: 1px solid #d8dae6;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 5px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #f9f9f9;
    transition: all .2s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}
.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
}
.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid #b5b5b5;
    color: #2a2937;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
    background: #fff;
}


.table_lecture .speaker{
    overflow: auto;
}
.table_lecture .avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin: 0 10px 20px 0;
    background-size: cover;
    background-position: center;
}
.table_lecture .name{
    color: #484848;
    font-weight: 700;
}

.things_inside{
    float: left;
    width: calc(100% - 50px);
}
.things_inside .thing_title{
    float: left;
    color: #484848;
    font-weight: 700;
    width: 200px;
    padding-right: 20px;
    margin: 20px 0;
}
.things_inside .description{
    float: left;
    width: calc(100% - 200px);
    margin: 20px 0;
}
hr{
    height: 1px;
    border: none;
    background: #eee;
}
select + .help-block-error{
    position: absolute;
    bottom: -12px;
    margin: 0;
    left: 16px;
    font: 400 11px/12px "Open Sans";
    color: #ff0f5e;
    font-style: italic;
}




@media (max-width: 1400px){
    header {
        padding: 35px 0 33px 20px;
        height: 89px;
    }
    .profile_menu .name{
        display: none;
    }
    .main_menu a {
        margin: 0 13px;
    }
}
@media (max-width: 1023px){
    header{
        height: 58px;
        padding: 20px 10px;
    }
    header .logo{
        width: 200px;
    }
    .main_menu, .notifications_wrap, .profile_menu_wrap{
        display: none;
    }
    header .burger_menu{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 58px;
        width: 58px;
        background: url(../img/burger_menu.png) center / 30px no-repeat;
    }
    header .mobile_menu{
        display: block;
        position: fixed;
        left: -100%;
        transition: left 0.3s linear;
        color: #fff;
    }
    header .mobile_menu.active{
        height: 100%;
        width: calc(100% - 58px);
        left: 0;
        top: 0;
        background: #1b1e46;
        z-index: 3;
        padding: 0 10px 0 30px;
    }
    header .mobile_menu_overlay{
        transition: opacity 0.3s linear;
        opacity: 0;
    }
    header .mobile_menu_overlay.active{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.8);
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 1;
    }
    header .close_menu_btn{
        background: url(../img/close_menu.png) center no-repeat;
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 58px;
        width: 58px;
        z-index: 2;
    }
    header .close_menu_btn.active{
        display: block;
    }
    header .mobile_menu_top{
        height: 58px;
        background: #fff;
        margin: 0 -10px 30px -30px;
    }
    header .mobile_menu_top .back_to_site{
        color: #467ffd;
        line-height: 58px;
        padding-left: 15px;
        background: url(../img/back_to_site.png) left center no-repeat;
        margin: 0 0 0 15px;
        display: block;
    }
    header .mobile_menu .avatar {
        width: 42px;
        height: 42px;
        background: #eee url(../img/user.png) center / 55% no-repeat;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 10px 0 0;
        overflow: hidden;
        display: inline-block;
        margin: 0 0 15px;
    }
    header .mobile_menu .name {
        font: 600 18px "Open Sans";
    }
    header .mobile_menu .divider {
        height: 1px;
        background: #303357;
        margin: 20px 0;
    }
    header .mobile_menu .link{
        display: block;
        color: #fff;
        text-decoration: none;
        font: 400 14px/22px "Open Sans";
    }
}