.glyphicon.glyphicon-eye-open:before{
    content:'';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../img/view.png) center / contain no-repeat;
}
.glyphicon.glyphicon-pencil:before{
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../img/edit.png) center / contain no-repeat;
}
.glyphicon.glyphicon-trash:before{
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../img/delete.png) center / contain no-repeat;
}
a.bonus:before{
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../img/US-dollar.png) center / contain no-repeat;
}

/*----------------TOP SECTION MAIN PAGE------------------*/
.home_page_tpl .top_section{
    height: 600px;
    background: url("../img/top_section_bg.jpg") center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.home_page_tpl .top_section > div{
    display: table-cell;
    vertical-align: middle;
}
.home_page_tpl .top_section h1{
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0 0 30px;
    padding: 0 15px;
}
.home_page_tpl .top_section h2{
    font: 300 26px "Open Sans";
    letter-spacing: 0.65px;
    margin: 0;
    padding: 0 15px;
    color: #fff;
}
.home_page_tpl .top_section a{
    margin: 30px 0 0 0;
    padding: 0 40px;
}


/*----------------MITZVOT TOTAL COUNTS------------------*/
.mitzvot_total_counts{
    height: 277px;
    color: #ffffff;
    text-align: center;
}
.mitzvot_total_counts > div{
    width: calc(100% / 3);
    height: 100%;
}
.mitzvot_total_counts .daily_mitzvots{
    background: #0080ff;
}
.mitzvot_total_counts .life_time_mitzvots{
    background: #ffb741;
}
.mitzvot_total_counts .total_boxes{
    background: #ff6182;
}
.mitzvot_total_counts > div > div{
    border: 1px solid rgba(255,255,255,0.33);
    background: rgba(0,0,0,0.05);
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    margin: 25px;
}
.mitzvot_total_counts .count{
    font: 700 60px "Open Sans";
    margin: 28px 0 0 0;
}
.mitzvot_total_counts .title{
    font: 300 30px "Open Sans";
}
.mitzvot_total_counts .read_more{
    font: 700 14px "Open Sans";
    color: #ffffff;
    padding-right: 15px;
    position: relative;
    background: url(../img/arrow_right_white.png) right 6px / 10px no-repeat;
    margin: 12px 0;
    display: inline-block;
}


/*----------------SITE DESCRIPTION------------------*/
.site_description{
    overflow: hidden;
}
.site_description .wrap{
    height: 750px;
}
.site_description .text,
.site_description .image{
    width: 50%;
    height: 100%;
    display: table;
}
.site_description .text .text_wrap,
.site_description .image .image_wrap{
    vertical-align: middle;
    display: table-cell;
}
.site_description .image img{
    margin: 0 0 0 30px;
    max-width: 140%;
}
.site_description .image img.site_description_mobile{
    display: none;
}


/*----------------OUR BOX------------------*/
.our_box_description{
    background: #ecf5f9 url(../img/our_box_description.png) -250px center no-repeat;
}
.our_box_description .wrap{
    height: 750px;
}
.our_box_description .text,
.our_box_description .image{
    width: 50%;
    height: 100%;
    display: table;
}
.our_box_description .image .image_wrap{
    text-align: center;
}
.our_box_description .image .image_wrap img{
    max-width: 90%;
}
.our_box_description .text .text_wrap,
.our_box_description .image .image_wrap{
    vertical-align: middle;
    display: table-cell;
}
.our_box_description .tile{
    width: calc(50% - 60px);
    margin: 20px 10px;
}
.our_box_description .tile img{
    margin: 0 15px 0 0;
}
.our_box_description .tile .title{
    color: #467ffd;
    font: 600 16px "Open Sans";
    margin: 0 0 5px;
}
.our_box_description .tile span{
    color: #6d6d6d;
    font: 400 12px/18px "Open Sans";
    display: block;
    padding-left: 75px;
}


/*----------------HOW IT WORKS------------------*/
.how_it_works{
    background: url(../img/how_it_works.jpg) center / cover no-repeat;
}
.how_it_works .wrap{
    height: 750px;
}
.how_it_works .text{
    width: 50%;
    height: 100%;
    display: table;
    color: #fff;
}
.how_it_works .text .text_wrap{
    vertical-align: middle;
    display: table-cell;
    padding: 0 40px;
}
.how_it_works .text p{
    color: #fff;
}
.how_it_works ul{
    list-style: none;
    margin: 30px 0;
    max-width: 450px;
}
.how_it_works ul li{
    padding: 0 0 0 50px;
    margin: 25px 0;
    background: url("../img/how_it_works_li.png") 0 2px no-repeat;
}
.how_it_works ul li .title{
    color: #fbfbfb;
    font: 600 16px "Open Sans";
}
.how_it_works ul li span{
    color: #d1d1d1;
    font: 400 12px "Open Sans";
}
.how_it_works .good_deeds{
    width: calc(50% - 93px);
    height: 100%;
    display: table;
}
.how_it_works .good_deeds .good_deeds_wrap{
    vertical-align: middle;
    display: table-cell;
    position: relative;
}
.how_it_works .vertical_slider, .how_it_works .slick-list{
    height: 600px !important;
}
.how_it_works .vertical_slider .slick-slide{
    min-height: 105px;
    margin: 8px 0;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 18px;
}
.how_it_works .vertical_slider .avatar{
    width: 42px;
    height: 42px;
    background: #eee url(../img/user.png) center / 55% no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: inline-block;
}
.how_it_works .vertical_slider .name {
    color: #2a2937;
    margin: 9px 0 0 0;
    font: 600 18px "Open Sans";
}
.how_it_works .vertical_slider .organization_name {
    color: #fb6180;
    font: 400 12px "Open Sans";
    float: right;
    margin: 14px 0 0 0;
    background: url(../img/organization.png) left center / 15px no-repeat;
    padding: 0 0 0 20px;
}
.how_it_works .vertical_slider p {
    font: 400 14px/20px "Open Sans";
    color: #6d6d6d;
    margin: 5px 0 0 52px;
}
.how_it_works .vertical_slider .slick-next:before,
.how_it_works .vertical_slider .slick-prev:before {
    content: '';
}
.how_it_works .vertical_slider .slick-next{
    height: 40px;
    width: 40px;
    background: url(../img/vertical_slider_down.png) center / contain no-repeat;
    bottom: -15px;
    position: absolute;
    right: -45px;
    top: auto;
}
.how_it_works .vertical_slider .slick-prev{
    height: 40px;
    width: 40px;
    background: url("../img/vertical_slider_up.png") center / contain no-repeat;
    bottom: 47px;
    left: auto;
    position: absolute;
    right: -45px;
    top: auto;
}

/*----------------OUR WORLDWIDE FAMILY------------------*/
.our_worldwide_family{
    padding: 100px 0 50px;
    overflow: hidden;
}
.our_worldwide_family .tiles_wrap{
    width: 100%;
    margin: 150px 0 0;
}
.our_worldwide_family .tile{
    /*height: 400px;*/
    /*width: 330px;*/
    width: calc((100% - 200px) / 3);
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 1px 2px 5px 0 rgba(1, 2, 3, 0.16);
    margin: 0 100px 150px 0;
    text-align: center;
    padding-bottom: 80px;
}
.our_worldwide_family .tile:before{
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    left: -15px;
    top: -15px;
    background: url("../img/our_worldwide_family.jpg") repeat;
    z-index: -1;
}
.our_worldwide_family .tile:nth-child(3n - 1){
    margin-top: -75px;
}
.our_worldwide_family .tile:nth-child(3n){
    margin-top: -150px;
    margin-right: 0;
}
.our_worldwide_family .tile:nth-child(3n + 1){
    clear: both;
}
.our_worldwide_family .tile .photo_wrap{
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-top: 65%;
    overflow: hidden;
    position: relative;
}
.our_worldwide_family .tile .photo_wrap img{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}
.our_worldwide_family .tile .tile_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fbfbfb;
    height: 80px;
    border-top: 1px solid #e8e8e8;
    color: #467ffd;
    font: 300 49px/66px "Open Sans";
}
.our_worldwide_family .tile .tile_footer span{
    display: block;
    text-transform: uppercase;
    color: #467ffd;
    font: 700 12px "Open Sans";
    margin-top: -11px;
}
.our_worldwide_family .tile .name{
    color: #2a2937;
    margin: 23px 0 0 0;
    font: 600 18px "Open Sans";
    height: 25px;
    overflow: hidden;
}
.our_worldwide_family .tile .address{
    color: #959595;
    font: 400 14px "Open Sans";
    height: 38px;
}
.our_worldwide_family .tile:nth-last-child(1){
    background: none;
    box-shadow: none;
    padding: 40px 100px 10px 20px;
    text-align: left;
}
.our_worldwide_family .tile:nth-last-child(1):before{
    opacity: 0.3;
}
.our_worldwide_family .tile h3{
    color: #2a2937;
    font: 400 30px/36px "Open Sans";
}
.our_worldwide_family .tile .btn{
    width: 100%;
}


/*----------------ORGANIZATIONS HELP US------------------*/
.organization_help_us{
    background: #ecf5f9;
    text-align: center;
    padding: 100px 0 50px;
}
.organization_help_us .org_wrap{
    height: 200px;
    width: 265px;
    display: inline-block;
    text-align: center;
}
.organization_help_us .org_wrap > div{
    display: table;
    width: 100%;
    height: 100%;
}
.organization_help_us .org_wrap > div > div{
    display: table-cell;
    vertical-align: middle;
}



footer .footer_info{
    height: 650px;
    background: url("../img/footer.jpg") center / cover no-repeat;
    padding: 150px 0 90px;
}
footer .bottom_line{
    text-align: center;
    color: #54599f;
    font-family: 400 16px "Open Sans";
    height: 67px;
    line-height: 67px;
    background: #14142c;
}
footer .million_mitzvots{
    border-right: 1px solid #4d5172;
    width: 570px;
    padding: 0 50px 0 0;
    margin: 0 50px 0 0;
}
footer .million_mitzvots p{
    color: #54599f;
    font-family: 400 16px "Open Sans";
}
footer .million_mitzvots .contact_1{
    width: 340px;
    margin: 15px 0;
}
footer .million_mitzvots .contact_2{
    width: 120px;
    margin: 15px 0;
}
footer .million_mitzvots .label{
    color: #0080ff;
    font: 600 16px "Open Sans";
    margin-bottom: 10px;
}
footer .million_mitzvots .info{
    color: #fff;
    font: 600 16px "Open Sans";
}
footer .million_mitzvots .social{
    margin-right: 10px;
}
footer .navigations ul{
    margin: 20px 0 30px 0;
}
footer .navigations ul a{
    color: #fff;
    font: 600 16px/32px "Open Sans";
    position: relative;
    padding-left: 20px;
}
footer .navigations ul a:before{
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #0080ff;
    content: '';
    left: 0;
    top: 10px;
    position: absolute;
}










/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------LOG IN / SIGN UP PAGE------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

#log_in_page,
#sign_up_page{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/how_it_works.jpg) center / cover no-repeat;
}
#log_in_page .logo_2,
#sign_up_page .logo_2{
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 0;
    width: 100%;
    text-align: center;
}
#log_in_page .logo_2 img,
#sign_up_page .logo_2 img{
    max-width: 85%;
}
#log_in_page .logo,
#sign_up_page .logo{
    width: 320px;
    height: 105px;
    padding: 35px 42px;
    position: relative;
    z-index: 1;
}
#log_in_page h2,
#sign_up_page h2{
    max-width: 570px;
}
#log_in_page .back,
#sign_up_page .back{
    padding: 35px 42px;
    width: 102px;
    height: 90px;
    position: relative;
    z-index: 1;
}
#log_in_page .form_wrap,
#sign_up_page .form_wrap{
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
}
#log_in_page .form_wrap .center_form,
#sign_up_page .form_wrap .center_form{
    display: table-cell;
    vertical-align: middle;
}
#log_in_page .text_wrap{
    width: calc(100% - 40px - 360px - 100px);
    padding-left: 70px;
    float: left;
}
#sign_up_page .text_wrap{
    width: calc(100% - 40px - 320px - 100px);
    padding-left: 70px;
    float: left;
    display: table;
    margin: 50px 0;
    height: 600px;
}
#sign_up_page .text_wrap > div{
    display: table-cell;
    vertical-align: middle;
}
#log_in_page .text_wrap p,
#sign_up_page .text_wrap p{
    color: #fff;
}
#log_in_page .form,
#sign_up_page .form{
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    width: 360px;
    margin: 50px 50px 0;
    float: left;
    position: relative;
    font: 400 12px/20px "Open Sans";
}
#log_in_page .form_title,
#sign_up_page .form_title{
    text-align: center;
    color: #2a2937;
    font: 600 24px "Open Sans";
    margin-bottom: 20px;
}
#log_in_page .form-control,
#sign_up_page .form-control {
    width: 100%;
}
#log_in_page .forgot_pass{
    color: #6d6d6d;
    margin: 10px 0;
}
#log_in_page .btn,
#sign_up_page .btn{
    display: block;
    margin: 20px 0;
    width: 100%;
}
#log_in_page .register_account,
#sign_up_page .register_account{
    display: block;
    text-align: center;
}

#sign_up_page{
    min-height: 830px;
}
#sign_up_page .steps{
    position: absolute;
    top: -55px;
    width: calc(100% - 80px);
    left: 40px;
    height: 28px;
}
#sign_up_page .steps div{
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 3px;
    background: #fff;
    text-align: center;
}
#sign_up_page .steps div{
    left: calc(50% - 14px);
    top: 0;
    position: absolute;
    cursor: pointer;
    font: 600 15px/28px "Open Sans";
}
#sign_up_page .steps div:hover{
    background: #d8dae6;
}
#sign_up_page .steps div.current{
    background: #0080ff;
    color: #fff;
}
#sign_up_page .steps div:nth-child(1){
    left: 0;
}
#sign_up_page .steps div:nth-last-child(1){
    right: 0;
    left: auto;
}
#sign_up_page .steps_line{
    background: #ddcafa;
    height: 2px;
    position: absolute;
    top: -42px;
    width: calc(100% - 90px);
    left: 45px;
}
#sign_up_page .form{
    height: 600px;
}
#sign_up_page .step{
    display: none;
}
#sign_up_page .step.active{
    display: block;
}
#sign_up_page .form_divider{
    height: 1px;
    background: #e8e8e8;
    width: calc(100% + 40px);
    margin: 10px -20px 0;
    clear: both;
}
#sign_up_page .secure_info{
    padding: 0 0 0 30px;
    margin: 10px 0;
    background: url("../img/secure.png") no-repeat;
}
#sign_up_page .btn{
    position: absolute;
    width: calc(100% - 40px);
    bottom: 35px;
}
#sign_up_page .register_account{
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
}


/*---------------------------------------------*/
/*---------------------------------------------*/
/*--------------THANK YOU PAGE-----------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

.thank_you_page_tpl{

}
.thank_you_page_tpl .logo_2{
    display: none;
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 0;
    width: 100%;
    text-align: center;
}
.thank_you_page_tpl .logo_2 img{
    max-width: 85%;
}
#thank_you_page{
    position: absolute;
    width: 100%;
    height: calc(100% - 89px);
    top: 89px;
    background: url(../img/how_it_works.jpg) center / cover no-repeat;
}
#thank_you_page .thank_you_page_wrap{
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
}
#thank_you_page .thank_you_page_wrap .center_text{
    display: table-cell;
    vertical-align: middle;
}
#thank_you_page h2{
    font: 700 72px/78px "Open Sans";
    color: #fff;
}
#thank_you_page p{
    color: #fff;
}
#thank_you_page .btn{
    width: 220px;
}










/*---------------------------------------------*/
/*---------------------------------------------*/
/*----------------CONTACT PAGE-----------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

.contact_page_tpl{
    background: #ecf5f9;
}
.contact_page_tpl .top_section{
    height: 500px;
    background: url("../img/contact_top_section_bg.jpg") center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.contact_page_tpl .top_section > div{
    display: table-cell;
    vertical-align: middle;
}
.contact_page_tpl .top_section h1{
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0 0 30px;
    padding: 0 15px;
}
.contact_page_tpl .top_section h1.mobile{
    display: none;
}
.contact_page_tpl .top_section h2{
    font: 300 26px "Open Sans";
    letter-spacing: 0.65px;
    margin: 0 0 100px;
    padding: 0 15px;
    color: #fff;
}
.contact_page_tpl .form{
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    width: 500px;
    max-width: calc(100% - 30px);
    margin: -150px auto 100px;
    font: 400 12px/20px "Open Sans";
}
.contact_page_tpl .form_title{
    text-align: center;
    color: #2a2937;
    font: 600 24px "Open Sans";
    margin-bottom: 20px;
}
/*.contact_page_tpl .form-control {
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
.contact_page_tpl .form-control input {
	display: block;
	outline: none;
	width: 100%;
	background: #fff;
	border: 1px solid #d8dae6;
	border-radius: 3px;
	padding: 15px;
	color: #2a2937;
	cursor: pointer;
	font: 400 15px "Open Sans";
} */
.contact_page_tpl .form-control textarea {
    display: block;
    outline: none;
    width: 100%;
    height: 170px;
    background: #fff;
    border: 1px solid #d8dae6;
    border-radius: 3px;
    padding: 15px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px "Open Sans";
    max-width: 100%;
    min-width: 100%;
}
/*.contact_page_tpl .form-control label {
	cursor: pointer;
	display: block;
	position: absolute;
	z-index: 1;
	left: 15px;
	top: 13px;
	color: #aaa;
	font-size: 20px;
	-webkit-transition: .2s;
	transition: .2s;
}*/
/*.contact_page_tpl .form-control input:valid + label,
.contact_page_tpl .form-control input:focus + label,
.contact_page_tpl .form-control textarea:focus + label {
	top: 0;
	font-size: 14px;
}*/
.contact_page_tpl .btn{
    display: block;
    margin: 20px 0;
    width: 100%;
}



/*---------------------------------------------*/
/*---------------------------------------------*/
/*----------------DONATE INNER-----------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

.donate_inner_tpl .top_section{
    height: 600px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.donate_inner_tpl .top_section .organization_logo{
    position: absolute;
    bottom: -30px;
    width: 170px;
    height: 150px;
    text-align: center;
    left: calc(50% - 85px);
    background: #fff;
    display: table;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d5e0e4;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}
.donate_inner_tpl .top_section .organization_logo div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.donate_inner_tpl .top_section .organization_logo img{
    max-width: 90%;
    max-height: 90%;
}
.donate_inner_tpl .donate_inner_content{
    text-align: center;
    padding: 80px 0;
}
.donate_inner_tpl .donate_inner_content h1{
    font: 600 54px "Open Sans";
    color: #202020;
}
.donate_inner_tpl .donate_inner_content .btn{
    width: 250px;
    margin-top: 30px;
}



/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------FAQ---------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/



.faq_tpl .top_section{
    height: 300px;
    background: url("../img/contact_top_section_bg.jpg") center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.faq_tpl .top_section > div{
    display: table-cell;
    vertical-align: middle;
}
.faq_tpl .top_section h1{
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px;
}
.faq_tpl .top_section h1.mobile{
    display: none;
}
.faq_tpl .accordion a {
    position: relative;
    display: block;
    padding: 40px 0;
    border-bottom: 1px solid #ecedf3;
    font: 700 18px/24px "Open Sans";
}
.faq_tpl .accordion a:hover,
.faq_tpl .accordion a:hover::after {
    cursor: pointer;
    color: #ff6182;
}
.faq_tpl .accordion a:hover::after {
    border: 1px solid #03b5d2;
}
.faq_tpl .accordion a.active {
    color: #ff6182;
    border-bottom: 1px solid transparent;
}
.faq_tpl .accordion a span{
    color: #ff6182;
    font: 400 24px/24px "Open Sans";
    margin-left: 10px;
}
.faq_tpl .accordion a span.minus{
    display: none;
}
.faq_tpl .accordion a.active span.minus{
    display: inline-block;
}
.faq_tpl .accordion a.active span.plus{
    display: none;
}
.faq_tpl .accordion .content {
    opacity: 0;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
}
.faq_tpl .accordion .content p {
    font: 400 16px/30px "Open Sans";
    color: #6d6d6d;
    margin-top: 0;
}
.faq_tpl .accordion .content.active {
    opacity: 1;
    padding: 0;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
}




/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------------ABOUT US-------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
.about_us_tpl .top_section{
    height: 450px;
    background: url("../img/contact_top_section_bg.jpg") center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.about_us_tpl .top_section > div{
    display: table-cell;
    vertical-align: middle;
}
.about_us_tpl .top_section h1{
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px 70px;
}
.about_us_tpl .three_things{
    margin: -80px 0 0 0;
}
.about_us_tpl .three_things .slide_wrap{
    width: 440px;
}
.about_us_tpl .slick-list{
    height: 300px;
}
.about_us_tpl .slick-slide {
    width: 440px;
    padding: 0 10px;
}
.about_us_tpl .slick-slide > div{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}
.about_us_tpl .slick-slide .num{
    font: 300 40px/54px "Open Sans";
    display: inline-block;
    border-bottom: 2px solid #0080ff;
    padding: 5px 20px;
}
.about_us_tpl .slick-slide .title{
    font: 600 18px "Open Sans";
    margin: 15px 0;
}
.about_us_tpl .slick-slide .text{
    font: 400 14px "Open Sans";
    margin: 15px 0;
    color: #6d6d6d;
}
.about_us_tpl .comunity_description{
    padding: 100px 0;
}
.about_us_tpl .comunity_description .img_wrap{
    width: 50%;
    text-align: center;
    padding: 40px 0;
}
.about_us_tpl .comunity_description .img_wrap div{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.about_us_tpl .comunity_description .img_wrap div:before {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    left: -15px;
    top: -15px;
    background: url(../img/our_worldwide_family.jpg) repeat;
    z-index: -1;
}
.about_us_tpl .comunity_description .text_wrap{
    width: 50%;
}
.about_us_tpl .comunity_description .text_wrap h2{
    margin: 0 0 20px;
}
.about_us_tpl .start_good_deed{
    background: rgba(97,63,219,1);
    background: -moz-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,63,219,1)), color-stop(100%, rgba(197,107,239,1)));
    background: -webkit-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
    background: -o-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
    background: -ms-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
    background: linear-gradient(to right, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613fdb', endColorstr='#c56bef', GradientType=1 );
    padding: 40px 0;
    color: #fff;
}
.about_us_tpl .start_good_deed .text_wrap{
    width: calc(100% - 275px);
}
.about_us_tpl .start_good_deed .btn{
    width: 225px;
    margin: 10px 0;
}
.about_us_tpl .start_good_deed h3{
    margin: 0;
    font: 700 24px "Open Sans";
}
.about_us_tpl .start_good_deed p{
    color: #d1d1d1;
    margin: 0;
}
.about_us_tpl .directors{
    padding: 100px 15px;
}
.about_us_tpl .directors h2{
    text-align: center;
}
.about_us_tpl .divider{
    height: 1px;
    background: #e8e8e8;
    margin: 40px 0;
}

.about_us_tpl .director_wrap{
    display: table;
    padding: 50px 0;
}
.about_us_tpl .director_wrap .photo_wrap{
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    text-align: center;
}
.about_us_tpl .director_wrap .photo_wrap > div{
    display: inline-block;
    position: relative;
}
.about_us_tpl .director_wrap .photo_wrap > div:before {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    left: -15px;
    top: -15px;
    background: url(../img/our_worldwide_family.jpg) repeat;
    z-index: -1;
}
.about_us_tpl .director_wrap .text_wrap{
    display: table-cell;
    vertical-align: middle;
}
.about_us_tpl .director_wrap .text_wrap .name{
    font: 700 24px "Open Sans";
    color: #262435;
}




/*---------------------------------------------*/
/*---------------------------------------------*/
/*-------------------DONATE--------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
.donate_tpl .top_section {
    height: 300px;
    background: url(../img/contact_top_section_bg.jpg) center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.donate_tpl .top_section > div {
    display: table-cell;
    vertical-align: middle;
}
.donate_tpl .top_section h1 {
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px;
}
.donate_tpl .donate_head{
    border-bottom: 1px solid #dddddd;
    margin: 80px 0 40px;
    padding: 0 0 20px;
}
.donate_tpl .donate_head .form-control{
    width: 300px;
}
.donate_tpl .donate_head .title{
    font: 400 24px/32px "Open Sans";
}
.donate_tpl .organizations_list{
    width: calc(100% - 320px);
    padding-bottom: 40px;
}
.donate_tpl .organizations_list .organization_wrap{
    width: calc((100% - 90px) / 3);
    margin: 15px 30px 25px 0;
    border: 1px solid #d5e0e4;
    border-radius: 3px;
    height: 495px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}
.donate_tpl .organizations_list .organization_wrap .top_section {
    height: 270px;
    background-position: center;
    background-size: cover;
    position: relative;
    position: relative;
}
.donate_tpl .organizations_list .organization_wrap .top_section .favourite{
    width: 24px;
    height: 22px;
    background: url("../img/favourite.png") no-repeat;
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 10px;
}
.donate_tpl .organizations_list .organization_wrap .top_section .favourite.active{
    background: url("../img/favourite_active.png") no-repeat;
}
.donate_tpl .organizations_list .organization_wrap .organization_logo {
    position: absolute;
    bottom: -30px;
    width: 110px;
    height: 100px;
    text-align: center;
    left: 20px;
    background: #fff;
    display: table;
    border-radius: 3px;
    border: 1px solid #d5e0e4;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
}
.donate_tpl .organizations_list .organization_wrap .organization_logo div {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.donate_tpl .organizations_list .organization_wrap .organization_logo img {
    max-width: 90%;
    max-height: 90%;
}
.donate_tpl .organizations_list .organization_wrap .title{
    font: 600 22px/24px "Open Sans";
    color: #262435;
    margin: 45px 15px 5px 20px;
    height: 48px;
}
.donate_tpl .organizations_list .organization_wrap .description{
    margin: 0 15px 10px 20px;
    height: 48px;
    overflow: hidden;
}
.donate_tpl .organizations_list .organization_wrap .btn{
    margin: 5px 15px 10px 20px;
    width: 130px;
}
.donate_tpl .right_side{
    width: 300px;
}
.donate_tpl .right_side .search_organization{
    margin: 0 0 20px;
}
.donate_tpl .right_side .title{
    font: 600 22px/24px "Open Sans";
    color: #262435;
    margin: 0 0 30px;
}
.donate_tpl .right_side .category_list{
    margin: 0 0 30px;
}
.donate_tpl .right_side .category_list > div{
    margin: 10px 0;
}
.donate_tpl .right_side .category_list .count{
    float: right;
    color: #6d6d6d;
    font: 600 14px/20px "Open Sans";
}
.donate_tpl .right_side .category_list a{
    color: #0080ff;
    font: 600 14px/20px "Open Sans";
}
.donate_tpl .right_side .divider{
    height: 1px;
    background: #e8e8e8;
    margin: 40px 0;
}
.donate_tpl .right_side .future_organizations_list > div{
    border: 1px solid #d5e0e4;
    height: 73px;
    margin: 0 0 15px;
}
.donate_tpl .right_side .future_organizations_list .photo{
    height: 100%;
    width: 82px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-right: 10px;
    float: left;
}
.donate_tpl .right_side .future_organizations_list .title{
    font: 600 14px/20px "Open Sans";
    margin: 5px 0;
    height: 20px;
}
.donate_tpl .right_side .future_organizations_list .description{
    font: 400 14px/16px "Open Sans";
    margin: 5px 10px;
    height: 40px;
}




/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------------PARTNERS-------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
.our_partners_tpl .top_section {
    height: 800px;
    background: url(../img/how_it_works.jpg) center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.our_partners_tpl .top_section .form-control {
    width: 400px;
    display: inline-block;
    text-align: left;
}
.our_partners_tpl .top_section .btn{
    margin-left: 20px;
    width: 120px;
}
.our_partners_tpl .top_section > div {
    display: table-cell;
    vertical-align: middle;
}
.our_partners_tpl .top_section h1 {
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px;
}
.our_partners_tpl .top_section h2 {
    font: 300 26px "Open Sans";
    letter-spacing: 0.65px;
    margin: 0 0 50px;
    padding: 0 15px;
    color: #fff;
}
.our_partners_tpl .partners_head{
    border-bottom: 1px solid #dddddd;
    margin: 80px 0 40px;
    padding: 0 0 20px;
}
.our_partners_tpl .partners_head .form-control{
    width: 300px;
}
.our_partners_tpl .partners_head .title{
    font: 400 24px/32px "Open Sans";
}
.our_partners_tpl .country_cities_wrap{
    position: relative;
}
.our_partners_tpl .country_cities_wrap .country{
    float: left;
    color: #262435;
    font: 700 32px/36px "Open Sans";
    width: 320px;
}
.our_partners_tpl .country_cities_wrap .cities_wrap{
    float: left;
    width: calc(100% - 320px);
    padding: 0 20px 150px;
    overflow: auto;
}
.our_partners_tpl .country_cities_wrap .cities_wrap > div {
    float: left;
    width: 33%;
}
.our_partners_tpl .country_cities_wrap .cities_wrap .name{
    float: left;
    width: 60%;
    margin: 5px 0;
    height: 36px;
    padding: 0 5px;
}
.our_partners_tpl .country_cities_wrap .cities_wrap .name a{
    color: #2a2937;
    font: 600 14px/18px "Open Sans";
    display: block;
}
.our_partners_tpl .country_cities_wrap .cities_wrap .city{
    color: #0080ff;
    font: 600 14px/18px "Open Sans";
    height: 36px;
    float: left;
    padding: 0 5px;
    margin: 5px 0;
    width: 40%;
}







@media (max-width: 1400px){
    .donate_inner_tpl .top_section {
        height: 500px;
    }
}
@media (max-width: 1200px){
    .our_box_description .text{
        width: 60%;
    }
    .our_box_description .image{
        width: 40%;
    }
    .donate_inner_tpl .top_section {
        height: 400px;
    }
    .about_us_tpl .comunity_description .img_wrap {
        width: 40%;
    }
    .about_us_tpl .comunity_description .text_wrap {
        width: 60%;
    }
    .donate_tpl .organizations_list .organization_wrap {
        width: calc((100% - 60px) / 2);
    }
    .our_partners_tpl .country_cities_wrap .cities_wrap > div{
        width: 50%;
    }
}

@media (max-width: 1023px){
    .mitzvot_total_counts{
        height: auto;
    }
    .mitzvot_total_counts > div {
        width: 100%;
    }
    .mitzvot_total_counts > div > div {
        border: none;
        background: none;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .mitzvot_total_counts .read_more {
        margin: 12px 0 40px;
    }

    .site_description .text, .site_description .image{
        width: 100%;
        height: auto;
        display: block;
    }
    .site_description .image{
        padding: 80px 0 50px;
    }
    .site_description .text{
        padding: 0 0 80px 0;
    }
    .site_description .image img.site_description_mobile{
        display: inline-block;
        width: 80%;
        max-width: 450px;
    }
    .site_description .text .text_wrap, .site_description .image .image_wrap {
        vertical-align: middle;
        display: block;
        width: 100%;
        text-align: center;
    }
    .site_description .image .site_description_desktop{
        display: none;
    }

    .our_box_description, .how_it_works ul{
        display: none;
    }
    .how_it_works .wrap{
        height: auto;
    }
    .how_it_works .text{
        display: block;
        text-align: center;
        width: 100%;
        padding: 80px 30px;
    }
    .how_it_works .good_deeds{
        display: block;
        width: 100%;
        padding: 0 40px 80px;
    }
    .our_worldwide_family h2{
        text-align: center;
    }
    .our_worldwide_family .tiles_wrap {
        margin: 150px auto 0;
        max-width: 650px;
    }
    .our_worldwide_family .tile{
        width: calc((100% - 50px) / 2);
        margin-right: 50px;
    }
    .our_worldwide_family .tile:nth-child(3n + 1) {
        clear: none;
    }
    .our_worldwide_family .tile:nth-child(2n + 1) {
        clear: both;
    }
    .our_worldwide_family .tile:nth-child(3n - 1) {
        margin-top: 0;
    }
    .our_worldwide_family .tile:nth-child(3n) {
        margin-top: 0;
        margin-right: 50px;
    }
    .our_worldwide_family .tile:nth-child(2n) {
        margin-top: -35px;
        margin-right: 0;
    }
    .our_worldwide_family .tile:nth-child(6),
    .our_worldwide_family .tile:nth-child(7),
    .our_worldwide_family .tile:nth-child(8) {
        display: none;
    }
    .our_worldwide_family .tile:nth-child(9){
        clear: none;
        margin-top: -35px;
        margin-right: 0;
    }
    .our_worldwide_family .tile:nth-last-child(1) {
        padding: 10px 50px 120px 0;
    }
    .our_worldwide_family .tile h3 {
        font: 400 22px/30px "Open Sans";
    }
    .organization_help_us {
        padding: 30px 15px 50px;
    }
    .organization_help_us .org_wrap {
        height: 120px;
        width: 160px;
    }
    .organization_help_us .org_wrap img{
        max-width: 80%;
    }

    footer .footer_info {
        padding: 50px 0;
        height: auto;
    }
    footer .million_mitzvots {
        border-right: none;
        width: 100%;
        max-width: 530px;
        padding: 0 20px 50px;
        margin: 0 auto;
        text-align: center;
        float: none;
        border-bottom: 1px solid #4d5172;
    }
    footer .million_mitzvots .contact_1,
    footer .million_mitzvots .contact_2{
        text-align: left;
    }
    footer .navigations h2{
        text-align: center;
    }
    footer .navigations ul {
        padding: 0;
        overflow: auto;
        max-width: 480px;
        margin: 20px auto 40px;
    }
    footer .navigations ul li{
        width: 33%;
        float: left;
    }
    footer .btn{
        display: block;
        width: 190px;
        margin: 0 auto;
    }



    .thank_you_page_tpl header{
        display: none;
    }
    #thank_you_page{
        top: 0;
        height: 100%;
    }
    .thank_you_page_tpl .logo_2,
    .log_in_page .logo_2{
        display: block;
    }



    #log_in_page .text_wrap,
    #log_in_page .back,
    #log_in_page .logo,
    #sign_up_page .text_wrap,
    #sign_up_page .back,
    #sign_up_page .logo{
        display: none;
    }
    #sign_up_page .form,
    #log_in_page .form{
        margin: 50px auto 0;
        float: none;
    }
    #log_in_page .logo_2,
    #sign_up_page .logo_2{
        display: block;
    }


    .contact_page_tpl .top_section h2{
        display: none;
    }
    .contact_page_tpl .top_section h1.mobile,
    .faq_tpl .top_section h1.mobile{
        display: block;
    }
    .contact_page_tpl .top_section h1.desktop,
    .faq_tpl .top_section h1.desktop{
        display: none;
    }
    .contact_page_tpl .top_section {
        height: 420px;
    }

    .about_us_tpl .comunity_description {
        padding: 50px 0;
    }
    .about_us_tpl .slick-slider{
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
    .about_us_tpl .comunity_description .img_wrap{
        float: none;
        width: 100%;
        max-width: 580px;
        margin: 0 auto 20px;
    }
    .about_us_tpl .comunity_description .text_wrap{
        width: 100%;
        text-align: center;
        max-width: 630px;
        margin: 0 auto 40px;
        float: none;
    }
    .about_us_tpl .start_good_deed{
        text-align: center;
        padding: 30px 0 0;
    }
    .about_us_tpl .start_good_deed .text_wrap{
        width: 100%;
        float: none;
        text-align: center;
    }
    .about_us_tpl .start_good_deed .btn{
        float: none;
        margin: 30px auto;
    }
    .about_us_tpl .start_good_deed p{
        display: none;
    }
    .about_us_tpl .director_wrap{
        text-align: center;
        display: block;
    }
    .about_us_tpl .director_wrap .photo_wrap{
        display: inline-block;
        width: 300px;
    }
    .about_us_tpl .director_wrap .text_wrap{
        display: block;
        margin: 30px auto 0;
        max-width: 500px;
    }

    .donate_tpl .body_wrap{
        padding: 0;
    }
    .donate_tpl .donate_head {
        margin: 20px 0 40px;
        padding: 0 15px 20px;
    }
    .donate_tpl .donate_head .title {
        float: none;
        width: 100%;
        text-align: center;
        color: #2a2937;
        margin: 0 0 15px;
    }
    .donate_tpl .donate_head .form-control{
        float: left;
    }
    .donate_tpl .right_side{
        display: none;
    }
    .donate_tpl .organizations_list {
        width: 100%;
    }
    .donate_tpl .organizations_list .organization_wrap{
        margin: 15px 10px 25px;
        width: calc((100% - 40px) / 2);
    }

    .our_partners_tpl header{
        position: fixed;
        width: 100%;
        top: 0;
        background: transparent;
        box-shadow: none;
    }
    .our_partners_tpl .top_section{
        position: fixed;
        z-index: 2;
        top: 0;
        height: 100%;
        padding-top: 70px;
    }
}


@media (max-width: 600px){
    .how_it_works .good_deeds{
        padding: 0 0 80px;
    }
    .how_it_works .vertical_slider .slick-arrow{
        display: none !important;
    }
    #thank_you_page h2 {
        font: 700 50px/60px "Open Sans";
    }
    #thank_you_page p br{
        display: none;
    }
    .donate_inner_tpl .top_section {
        height: 300px;
    }
    .donate_tpl .organizations_list .organization_wrap{
        width: calc(100% - 20px);
    }

}












#alert-message{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 24px;
    padding: 15px;
    z-index: 100000000;
    background: rgba(255,255,255,0.9);
    text-align: center;
}

.bootstrap-datetimepicker-widget {
    width: 350px!important;
    position:absolute;
    top:20px!important;
    background:#fff;
    z-index:2;
    left:-14px!important;

}
.glyphicon-chevron-left:before{
    content:'<';
}
.glyphicon-chevron-left:before{
    content:'<';
}
.glyphicon-chevron-right:before{
    content:'>';
}
#sign_up_page div.step_1 button.submit{
    display: none;
}
.i-agree-block {
    position: relative;
}
.i-agree-block input[type="checkbox"]
{
    display: block;
    position: absolute;
    top: 17px;
    opacity: 0;
}
td.id-column{
    text-align: center;
}
td.short-desc-column{
    max-width: 400px;
}
.events-index table td{
    padding: 5px 10px;
}
.btn.btn-success{
    background-color: #438a43;
    color: #fff;
    min-width: 150px;
}
.btn.btn-primary{
    background-color: #2dbff7;
    color: #fff;
}
.btn.btn-danger{
     background-color: #f00;
     color: #fff;
 }
.widget_image{
    width: 100%;
    display: inline-block;
    position: relative;
}
.img_db {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.crop-image,.img_db .del_db{
    color: #000;
    font-size: 20px;
    float: right;
    margin: 4px;
    padding: 2px;
    background-color: rgba(255,255,255,0.7);
}
.event_bg_image{
    height: 400px;
    background: #7d7d7d url(../img/profile_no_bg.png) center / 70px no-repeat;
}
.crop-img-block{
    position: absolute;
    padding-top: 40px;
    top: 0px;
    left: 354px;
    max-width: 600px;
    background-color: #bfbfbf;
    z-index: 1;
}
.crop-img-block .crop-img-source{
    max-width: 600px;
    max-height: 330px;
    display: none;
}
.widget_image .crop-img-block .crop-apply{
    font-size: 34px;
    color: #005aff;
    position: absolute;
    top: 4px;
    left: 6px;
    display: none;
}
.widget_image .crop-img-block .close-btn{
    font-size: 34px;
    color: #005aff;
    position: absolute;
    top: 3px;
    right: 6px;
    display: none;
}
.widget_image label.label-for-input-file{
    display: block;
    width: auto;
    height: auto;
    float: none;
}
.widget_image .default{
    width: 100%;
    border: 3px dashed #d6d5d5;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
.blog_img{
    width: 100%;
    display: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.fa-plus-circle:before{
    color: #fff;
}
#avatar_box{
    width: 170px;
}
.default .add_image i:before{
    color: #4d4d4d;
}
label.label-for-input-file{
    position: relative;
}