.payment_cost_tile{
    float: left;
    margin: 0 40px 30px 0;
    border-right: 1px solid #dbdbdb;
    padding: 0 30px 0 0;
    width: 360px;
    height: 600px;
    color: #000;
    text-align: left;
    position: relative;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.profile_tpl .payment_form .form-group .form-control input,
.profile_tpl .payment_form .form-group .form-control select {
    display: block;
    outline: none;
    margin: 0;
    background: #fff;
    border: 1px solid #bdc4c9;
    box-shadow: none;
    padding: 10px 15px !important;
    height: 42px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px/16px "Open Sans";
}
.payment_cost_tile .title {
    font: 400 22px/28px "Open Sans";
    margin: 15px 0;
}
.payment_cost_tile .divider {
    clear: both;
    border-bottom: 1px solid #dbdbdb;
    margin: 20px 0;
}
.payment_cost_tile ul {
    padding: 0;
}
.payment_cost_tile li {
    padding: 0 0 0 25px;
    background: url(../img/check_black.png) 2px 6px no-repeat;
    margin-bottom: 10px;
    font: 400 14px/22px "Open Sans";
}
.payment_form .form-group .form-control{
    padding: 0 !important;
    margin: 35px 0 45px;
}
.payment_form .form-group .form-control input[type="text"]{
    max-width: 400px;
    margin: 0;
}
.payment_form{
    float: left;
    width: calc(100% - 400px);
    margin: 30px 0;
    padding: 30px;
    max-width: 440px;
    background: #f7f7f7;
}
.payment_form select{
    border: 1px solid #bdc4c9;
    height: 40px !important;
    border-radius: 0 !important;
}
.payment_form .sub_title{
    font: 400 22px/28px "Open Sans";
    margin: 15px 0;
}
.payment_form .blue_btn{
    width: 100%;
}
.payment_form .card-expiry-month,
.payment_form .card-expiry-year{
    width: 150px;
    display: inline-block !important;
    margin: 0 !important;
}
.form-group.has-error .help-block{
    position: absolute;
    bottom: -23px;
    font-style: italic;
    color: #ff4f01;
}
.profile_tpl header{
    margin-bottom: 90px;
}

.profile_tpl .cost_tile .active_payment{
    display: none;
}
.profile_tpl .cost_tile{
    background: #e8ebed;
    border-radius: 4px;
    margin: 30px 10px 20px;
    padding: 70px 20px 90px;
    float: left;
    text-align: center;
    position: relative;
}
.profile_tpl .cost_tile.active{
    background: #0061ff url(../img/cost_tile_active.png) 10px 10px / 15px no-repeat;
    color: #fff;
}
.profile_tpl .cost_tile.active .active_payment{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 15px;
    text-align: center;
    left: 0;
    font-size: 12px;
}
.profile_tpl .cost_tile .cost_tile_title{
    color: #484a4d;
    font: 600 24px "Open Sans";
}
.profile_tpl .cost_tile.active .cost_tile_title{
    color: #fff;
}
.profile_tpl .cost_tile .price{
    color: #484a4d;
    font: 600 18px "Open Sans";
}
.profile_tpl .cost_tile.active .price{
    color: #fff;
}

.membership_table{
    width: 100%;
    margin: 40px 0;
    color: #000;
    border-spacing: 0;
}
.membership_table th{
    text-align: left;
    font-weight: 300;
}
.membership_table th,
.membership_table td{
    padding: 10px 20px;
}
.membership_table td{
    border: 1px solid #dfe0e6;
}
.membership_table span.active{
    color: #0061ff;
}
.membership_table span.inactive{
    color: #f05e5b;;
}
.membership_table a.cancel{
    color: #fff;
    background: #f05f5c;
}
.membership_table a.extend{
    color: #fff;
    background: #b8b8b8;
}
.membership_table a.cancel,
.membership_table a.extend{
    padding: 0 25px;
    border-radius: 3px;
    margin: 0 3px;
    line-height: 34px;
    display: inline-block;
    font-size: 12px;
}



.profile_main_menu{
    width: 240px;
    padding: 0 30px 10px 0;
}
.profile_main_menu .avatar{
    width: 120px;
    height: 120px;
    background: #eee url(../img/user.png) center / 55% no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 10px 0 0;
    display: inline-block;
}
.profile_main_menu .name{
    color: #2a2937;
    margin: 9px 0 0 0;
    font: 600 18px "Open Sans";
}
.profile_main_menu .organization{
    color: #fb6180;
    font: 400 12px "Open Sans";
    margin: 5px 0 0 0;
    background: url(../img/organization.png) left center / 15px no-repeat;
    padding: 0 0 0 20px;
}
.profile_main_menu .divider{
    height: 1px;
    background: #ecedf3;
    margin: 20px 0;
}
.profile_main_menu .link{
    display: block;
    color: #000;
    font: 400 16px/24px "Open Sans";
    padding: 5px 0 5px 0;
}
.profile_main_menu .link.active{
    font-weight: 700;
}

.form-control{
    height: auto!important;
}

.profile_tpl .edit_box{
    width: calc(100% - 240px);
    padding: 0 0 50px;
}
.profile_tpl .edit_box .title{
    font: 600 30px "Open Sans";
    color: #000;
}
.profile_tpl .edit_box .form_wrap{
    max-width: 400px;
}
.profile_tpl .edit_box .form_wrap .btn{
    width: 100%;
}



.profile_tpl .event_wrap{
    width: 320px;
    margin: 15px 30px 25px 0;
    border: 1px solid #e6e8ea;
    height: 430px;
}
.profile_tpl .event_wrap .top_section {
    height: 0;
    padding-top: 50%;
    background-image: url(/img/profile_no_bg.png);
    background-size: 70px;
    background-color: #dde1ec;
    background-position: center;
    position: relative;
    margin: 0;
}
.profile_tpl .event_wrap .top_section .favourite{
    width: 24px;
    height: 22px;
    background: url("../img/favourite.png") no-repeat;
    position: absolute;
    display: inline-block;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
.profile_tpl .event_wrap .top_section .favourite.active{
    background: url("../img/favourite_active.png") no-repeat;
}
.profile_tpl .event_wrap .title{
    font: 600 22px/24px "Open Sans";
    color: #262435;
    margin: 20px 15px 5px 20px;
    height: 48px;
}
.profile_tpl .event_wrap .description{
    margin: 0 15px 10px 20px;
    height: 32px;
    overflow: hidden;
    color: #707f8c;
    font: 600 13px/16px "Open Sans";
}
.profile_tpl .event_wrap .date,
.profile_tpl .event_wrap .price,
.profile_tpl .event_wrap .address{
    margin: 0 15px 10px 20px;
    height: 16px;
    overflow: hidden;
    font: 600 13px/16px "Open Sans";
    color: #484848;
    padding-left: 20px;
}
.profile_tpl .event_wrap .date{
    background: url("../img/calendar.png") left 1px / 13px no-repeat;
}
.profile_tpl .event_wrap .address{
    background: url("../img/address.png") left 0 / 13px no-repeat;
}
.profile_tpl .event_wrap .price{
    background: url("../img/price.png") 4px 2px / 6px no-repeat;
}
.profile_tpl .event_wrap .btn{
    margin: 20px auto 10px auto;
    display: block;
    width: calc(100% - 40px) !important;
}


.profile_tpl .booking_tile,
.profile_tpl .ticket_tile{
    width: 240px;
    height: 265px;
    margin: 35px 30px 15px 0;
    float: left;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #484a4d;
}
.profile_tpl .booking_tile,
.profile_tpl .ticket_tile{
    height: 300px;
}
.profile_tpl .booking_tile.inactive,
.profile_tpl .ticket_tile.inactive{
    opacity: 0.5;
    color: rgba(72, 74, 77, 0.4);
}
.profile_tpl .booking_tile:before,
.profile_tpl .ticket_tile:before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    top: -50px;
    border-radius: 50%;
    border: 1px solid #dfe0e6;
    left: calc(50% - 40px);
    background: #fff;
}
.profile_tpl .booking_tile > div,
.profile_tpl .ticket_tile > div{
    border: 1px solid #dfe0e6;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    border-radius: 5px;
}
.profile_tpl .booking_tile .date,
.profile_tpl .ticket_tile .date{
    font: 400 14px/16px "Open Sans";
    margin: 25px 0 15px;
}
.profile_tpl .booking_tile .time,
.profile_tpl .ticket_tile .time{
    font: 400 14px/16px "Open Sans";
    margin: 5px 0 0 0;
}
.profile_tpl .booking_tile .title,
.profile_tpl .ticket_tile .title{
    font: 800 18px/24px "Open Sans";
    color: inherit;
}
.profile_tpl .booking_tile .price,
.profile_tpl .ticket_tile .price{
    font: 800 40px/40px "Open Sans";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 55px;
}
.profile_tpl .booking_tile .price,
.profile_tpl .ticket_tile .price{
    bottom: 90px;
}
.profile_tpl .booking_tile .price .text,
.profile_tpl .ticket_tile .price .text{
    font: 400 14px/14px "Open Sans";
    text-align: left;
    display: inline-block;
}
.profile_tpl .booking_tile .price .divider,
.profile_tpl .ticket_tile .price .divider{
    border-top: 1px solid #dfe0e6;
    margin: 4px 0 2px;
}
.profile_tpl .booking_tile > div > .divider,
.profile_tpl .ticket_tile > div > .divider{
    border-top: 1px solid #dfe0e6;
    position: absolute;
    bottom: 60px;
    width: calc(100% - 40px);
    left: 20px;
}
.profile_tpl .booking_tile a,
.profile_tpl .ticket_tile a{
    position: absolute;
    bottom: 25px;
    width: 100%;
    left: 0;
    font: 400 14px/14px "Open Sans";
    text-align: center;
}






