*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

html,
body {
    font-size: 100%; 
}
body {
    color: #202223;
    padding: 0;
    margin: 0;
    color: #6d6d6d;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 150%;
    cursor: default;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
    min-width: 1024px;
}
.wrap{
    width: 100%;
    max-width: 1400px;
    min-width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

p{
    color: #6d6d6d;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

h2{
    color: #2a2937;
    font: 400 40px "Open Sans";
    margin: 20px 0;
}
h2 strong{
    font: 700 40px "Open Sans";
}
h2 .blue{
    color: #467ffd;
}
h2 .orange{
    color: #feb64c;
}
h2 .white{
    color: #fff;
}

a:hover {
    cursor: pointer; 
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

img {
    max-width: 100%;
    height: auto; 
}
img {
    -ms-interpolation-mode: bicubic; 
}

.left {
    float: left; 
}
.right {
    float: right; 
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table; 
}
.clearfix:after {
    clear: both; 
}
.hide {
    display: none; 
}


.btn{
    font: 14px/45px "Open Sans";
    text-align: center;
    height: 45px;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.blue_btn{
    color: #ffffff;
    background-color: #0061ff;
    border: none;
}
.blue_btn:hover,
.blue_btn:focus{
    color: #ffffff;
}
.btn:hover{
    opacity: 0.8;
}
.btn:focus,
.btn:active, .btn:active:focus{
    outline: none;
}
.white_bnt{
    background: #fff;
    color: #262435;
}
.black_btn{
    background: rgba(0,0,0,0.47);
    border: 1px solid #fff;
    color: #ffffff;
}



.red_text{
    color: #ff6182;
}

.blue_text{
    color: #0080ff;
}


/*----------------HEADER------------------*/

header{
    padding: 35px 42px 33px 42px;
    height: 89px;
    background: #000;
    z-index: 10;
    box-shadow: 4px 0 18px rgba(0, 0, 0, 0.12);
}
header .logo{
    margin: -7px 0;
    display: block;
    float: left;
    height: 33px;
    width: 70px;
}
header .burger_menu{
    display: none;
}
header .mobile_menu{
    display: none;
}
.mobile_menu_overlay{
    display: none;
}

.main_menu{
    font-size: 0px;
    position: relative;
    padding: 0 15px;
}
.main_menu ul{
    padding: 0;
}
.main_menu li{
    display: inline-block;
}
.main_menu a{
    color: #fff;
    font: 600 14px/21px "Open Sans";
    margin: 0 25px;
}
.main_menu a.active{
    color: #ff82aa;
}


/*----------------POPUP------------------*/

.notifications_wrap{
    position: relative;    
    width: 52px;
    height: 47px;
    margin: -13px 0 0 0;
}
.notifications{
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    overflow: hidden;
    display: block;
}
.notifications .count{
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #fb6180;
    color: #ffffff;
    font: 400 12px/17px "Open Sans";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    top: 4px;
    right: 2px;
}
#notification_popup{
    width: 390px;
}
#notification_popup .btn{
    width: calc(100% - 40px);
    margin: 20px;
}
#notification_popup .notification_wrap{
    border-bottom: 1px solid #ecedf3;
    padding: 16px 20px;
}
#notification_popup .notification_wrap .avatar_wrap{
    width: 42px;
    height: 42px;
    background: #eee url(../img/user.png) center / 55% no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: inline-block;
} 
#notification_popup .notification_wrap p{
    margin: 0;
    color: #6d6d6d;
    font: 600 13px/20px "Open Sans";
}
#notification_popup .notification_wrap p span{
    color: #2a2937;
}
#notification_popup .notification_wrap p a{
    color: #ff6182;
}
#notification_popup .notification_wrap .time{
    color: #959595;
    font: 400 11px/18px "Open Sans";
}
#profile_menu_popup{
    width: 270px;
}
.profile_menu_wrap{
    position: relative;
    margin: -13px 0 0 10px;
}
.profile_menu{
    cursor: pointer;
    height: 47px;
    padding: 2px 25px 2px 5px;
    position: relative;
    overflow: hidden;
}
.profile_menu .name{    
    font: 600 14px/21px "Open Sans";
    display: inline-block;
    margin: 11px 0;
    color: #fff;
}
.profile_menu:after{
    content: '';
    position: absolute;
    right: 7px;
    top: calc(50% - 3px);
    width: 10px;
    height: 10px;
    background: url(../img/arrow_down.png) center / contain no-repeat;
}
#profile_menu_popup .links_wrap{
    padding: 16px 20px;
}
#profile_menu_popup .links_wrap a{
    display: block;
    font: 600 13px "Open Sans";
    color: #2a2937;
    transition: color .1s linear;
    padding: 6px 0;
}
#profile_menu_popup .links_wrap .divider{
    height: 1px;
    background: #ecedf3;
    margin: 10px 0;
}
#profile_menu_popup .links_wrap a.active,
#profile_menu_popup .links_wrap a:hover{
    color: #2889ff;
}
.dropdown_menu_container .dropdown_menu_title{
    color: #959595;
    font: 600 12px "Open Sans";
    text-transform: uppercase;
    border-bottom: 1px solid #ecedf3;
    height: 48px;
    padding: 16px 20px;
}




/*----------------CLICK------------------*/

.ink {
    display: block; position: absolute;
    background: rgba(0,0,0,.1);
    border-radius: 100%;
    transform: scale(0);
    z-index: 999;
}
.ink.animate {
    animation: ripple .75s linear;
}
@keyframes ripple {
    75% {
        transform: scale(2.5);
    }
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}



/*----------------DROPDOWN MENU------------------*/

.dropdown_menu_container{
    display: none;
    position: absolute;
    top: 98px;
    right: 0;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 11;
    -webkit-transition: top .1s ease-out;
     -moz-transition: top .1s ease-out;
     -o-transition: top .1s ease-out;
     transition: top .1s ease-out;
    -webkit-transition: all .3s ease-out;
     -moz-transition: all .3s ease-out;
     -o-transition: all .3s ease-out;
     transition: all .3s ease-out;
}
.dropdown_menu_container .close_dropdown_menu{
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 8px;
    background: url(../img/close.png) center / 35% no-repeat;
}
.dropdown_menu_link{
    z-index: 7;
}
.dropdown_menu_link .top_arrow{
    border-bottom: 7px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: -29px;
    display: none;
    left: calc(50% - 8px);
}
.transparent_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.05);
}
.crop_overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}
.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=20);
    opacity: 0.2;
}



/*checkbox*/
.custom_checkbox{
    display: none;
}
.custom_checkbox + label{
    position: relative;
    padding: 0 0 0 25px;
    color: #6d6d6d;
    display: inline-block;
    float: left;
    cursor: pointer;
    margin: 10px 0;
}
.custom_checkbox + label:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #dbdbdb;
    left: 0;
    transition: background-color .2s linear;
}
.custom_checkbox:checked + label:before{
    background: #fb6180 url(../img/checkbox.png) center / 13px no-repeat;
    border: 1px solid #fb6180;
}







/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: block;
    user-select: none;
}
.custom-select-wrapper select {
    display: none;
}
.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 1;
}
.custom-select-trigger {
    position: relative;
    display: block;
    width: 100%;
    line-height: 42px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #d8dae6;
    border-radius: 3px;
    padding: 10px 15px;
    color: #2a2937;
    font: 400 15px "Open Sans";
}
.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #d8dae6;
    border-right: 1px solid #d8dae6;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 5px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #f9f9f9;
    transition: all .2s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}
.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 7px; height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
}
.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 15px;
    border-bottom: 1px solid #b5b5b5;
    color: #2a2937;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
    background: #fff;
}

.form-group{
    position: relative;
}
.form-control {
    margin-bottom: 35px;
    position: relative;
    height: 100%;
    padding: 0;
    border:0;

}
.form-control label {
    cursor: pointer;
    display: block;
    position: absolute;
    left: 15px;
    top: 10px;
    margin: 0;
    color: #aaa;
    font: 200 17px 'Open Sans';
    -webkit-transition: .2s;
    transition: .2s;
}
.form-control input,
.form-control select{
    display: block;
    outline: none;
    width: 100%;
    margin: 0;
    background: #fff;
    border: 1px solid #bdc4c9;
    box-shadow: none;
    padding: 10px 15px;
    height: 42px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px/16px "Open Sans";
}
.form-control input:focus{
    border: 1px solid #ffd16d;
    box-shadow: 0 0 10px #eee;
}
.form-control textarea{
    display: block;
    outline: none;
    width: 100%;
    margin: 0;
    background: #fff;
    border: 1px solid #bdc4c9;
    box-shadow: none;
    padding: 20px 15px;
    height: 150px;
    color: #2a2937;
    cursor: pointer;
    font: 400 15px/16px "Open Sans";
}
.form-control .help-block-error {
    position: absolute;
    bottom: -12px;
    margin: 0;
    left: 16px;
    font: 400 11px/12px "Open Sans";
    color: #ff0f5e;
    font-style: italic;
}
.form-control label{
    cursor: pointer;
    display: block;
    position: absolute;
    left: 0;
    color: #484848;
    top: -20px;
    font-size: 12px;
}

.custom_select_2 select{
    padding: 0 10px;
}
.custom_select_2:before, .select2-selection__arrow{
    position: absolute;
    content: '';
    display: block;
    width: 40px !important;
    height: 40px !important;
    top: 1px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;
    right: 1px;
    border-left: none !important;
    z-index: 1;
}
.custom_select_2:after, .select2-container--krajee .select2-selection--single .select2-selection__arrow b{
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 13px;
    margin-top: -3px;
    border-bottom: 1px solid #d8dae6 !important;
    border-right: 1px solid #d8dae6 !important;
    border-top: 0 !important;
    border-left: 0 !important;
    transform: rotate(45deg) translateY(-50%);
    transition: all .2s ease-in-out;
    transform-origin: 50% 0;
    z-index: 2;
}
.select2-container--krajee .select2-selection__clear{
    font-size: 28px;
    top: 0;
    height: 42px;
    line-height: 42px;
    font-weight: 200;
    color: #d8dae6;
    right: 40px !important;
    opacity: 1;
    cursor: pointer;
}


.select2-container--krajee .select2-selection{
    height: 42px;
    box-shadow: none;
    border: 1px solid #d8dae6;
    border-radius: 3px;
}
.select2-container--krajee .select2-selection--single {
    padding: 10px 15px;
}



.switcher { 
    width: 60px;
    border-radius: 20px;
    padding: 2px;
    transition: 0.2s;
    cursor: pointer;
    background: #dde1ec;
}
.circle {
    height: 26px;
    width: 26px;
    margin: 0;
    background: white;
    border-radius : 13px;
}
.switcher_on {
    background: #fb6180;
}
.switcher_on .circle {
    margin-left: 30px;
}
#remember{
    left: 23px;
    position: absolute;
    margin-top: 16px;
    opacity: 0;
    display: block!important;
}


@media (max-width: 1400px){
    header {
        padding: 35px 0 33px 20px;
        height: 89px;
    }
    .main_menu a {
        margin: 0 13px;
    }
}
