body{
	min-width: 600px !important;
}

@media (max-width: 1023px) {

	header {
		height: 58px;
		padding: 20px 10px;
	}
	header .logo {
		width: 200px;
	}
	.main_menu, .notifications_wrap, .profile_menu_wrap {
		display: none;
	}
	header .burger_menu {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		height: 58px;
		width: 58px;
		background: url(../img/burger_menu.png) center / 30px no-repeat;
	}
	header .mobile_menu {
		display: block;
		position: fixed;
		left: -100%;
		transition: left 0.3s linear;
		color: #fff;
	}
	header .mobile_menu.active {
		height: 100%;
		width: calc(100% - 58px);
		left: 0;
		top: 0;
		background: #1b1e46;
		z-index: 3;
		padding: 0 10px 0 30px;
	}
	header .mobile_menu_overlay {
		transition: opacity 0.3s linear;
		opacity: 0;
	}
	header .mobile_menu_overlay.active {
		display: block;
		position: fixed;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		left: 0;
		top: 0;
		z-index: 2;
		opacity: 1;
	}
	header .close_menu_btn {
		background: url(../img/close_menu.png) center no-repeat;
		display: none;
		position: fixed;
		right: 0;
		top: 0;
		height: 58px;
		width: 58px;
		z-index: 2;
	}
	header .close_menu_btn.active {
		display: block;
	}
	header .mobile_menu_top {
		height: 58px;
		background: #fff;
		margin: 0 -10px 30px -30px;
	}
	header .mobile_menu_top .back_to_site {
		color: #467ffd;
		line-height: 58px;
		padding-left: 15px;
		background: url(../img/back_to_site.png) left center no-repeat;
		margin: 0 0 0 15px;
		display: block;
	}
	header .mobile_menu .link {
		display: block;
		color: #fff;
		text-decoration: none;
		font: 400 14px/22px "Open Sans";
	}



	.home_page_tpl .top_section{
		padding-right: 0;
		height: auto;
	}
	.home_page_tpl .who_we_are:before{
		z-index: 1;
	}
	.home_page_tpl .header a,
	.home_page_tpl .header .active {
		color: #fff;
	}
	.home_page_tpl .top_section .form_wrap{
		width: 100%;
		position: relative;
		display: block;
	}
	.home_page_tpl .top_section > div.bg{
		display: block;
		position: relative;
		margin-top: -120px;
		padding: 200px 35px 100px;
	}
	.home_page_tpl .top_section .form_wrap .form{
		display: block;
		margin: 80px auto;
		max-width: 600px;
	}
	.home_page_tpl .photoes_slider_wrap .photo_slider{
		display: none;
	}
	.home_page_tpl .photoes_slider_wrap .text{
		float: none;
		margin: 0;
		background: none;
		padding: 100px 30px;
		max-width: 600px;
		margin: 0 auto;
	}
	.home_page_tpl .photoes_slider_wrap{
		padding: 0 0 100px;
	}
	.home_page_tpl .grey_section .cost .cost_tile {
		padding: 20px 20px 150px;
		width: calc(100% - 40px);
		height: auto;
		margin: 30px auto;
	}
	.home_page_tpl .advantages .block_2 span,
	.home_page_tpl .advantages .block_3 span,
	.home_page_tpl .advantages .block_4 span{
		bottom: 10px;
		right: 10px;
		left: 10px;
		font: 600 19px/24px "Open Sans";
	}
	.events_tpl .left_side {
		display: none;
	}
	.events_tpl .events_list {
		width: 100%;
		margin-left: 0;
	}
	.event_inner_tpl .event_info, .event_inner_tpl .buy_ticket_form,
	.contact_page_tpl .contact_info, .contact_page_tpl .contact_form{
		width: 100%;
	}
	.faq_tpl .top_section .search_field, .faq_inner_tpl .top_section .search_field{
		width: calc(100% - 30px);
	}
}





@media (max-width: 700px){
	p,
	.home_page_tpl .top_section p,
	.home_page_tpl .grey_section .cost .cost_tile li,
	.home_page_tpl .testimonials_section .text,
	.home_page_tpl .our_events .event_wrap .date,
	.home_page_tpl .our_events .event_wrap .price,
	.home_page_tpl .our_events .event_wrap .address,
	.events_tpl .events_list .event_wrap .date,
	.events_tpl .events_list .event_wrap .price,
	.events_tpl .events_list .event_wrap .address,
	.events_tpl .events_list .event_wrap .description,
	.events_tpl .event_filter .tabs_filter a,
	.event_inner_tpl .event_info .description,
	.event_inner_tpl .event_info .description p,
	.event_inner_tpl .event_info ul li,
	.event_inner_tpl .event_info p,
	.event_inner_tpl .event_info .contacts .phone,
	.event_inner_tpl .event_info .contacts .email,
	.event_inner_tpl .event_info .contacts .address,
	.event_inner_tpl .buy_ticket_form .price_count,
	.form-control input, .form-control select,
	.event_inner_tpl .event_info .schedule_table .time,
	.event_inner_tpl .event_info .schedule_table th,
	.event_inner_tpl .event_info .schedule_table .name,
	.event_inner_tpl .event_info .schedule_table .theme,
	.event_inner_tpl .event_info .things_inside .thing_title,
	.event_inner_tpl .buy_ticket_form h3,
	.event_inner_tpl .event_info .title .address,
	.contact_page_tpl .contact_info .contacts .phone,
	.contact_page_tpl .contact_info .contacts .email,
	.contact_page_tpl .contact_info .contacts .address,
	.faq_tpl .top_section .search_field input,
	.faq_inner_tpl .top_section .search_field input,
	.faq_tpl .faq_tile .text,
	.faq_tpl .faq_tile .read_more,
	.faq_inner_tpl .accordion .content p,
	#log_in_page .register_account,
	#sign_up_page .register_account,
	#log_in_page .forgot_pass,
	.profile_tpl .event_wrap .description,
	.profile_tpl .event_wrap .date,
	.profile_tpl .event_wrap .price,
	.profile_tpl .event_wrap .address{
		font-size: 24px;
		line-height: 34px;
	}
	.mobile_menu .link {
		font-size: 24px !important;
		line-height: 50px !important;
	}
	.custom_checkbox + label{
		font-size: 24px;
	}
	header .burger_menu {
		height: 95px;
		width: 95px;
	}
	header .logo {
		height: 50px;
	}
	header .logo img{
		height: 100%;
	}
	header {
		height: 95px;
		padding: 30px 25px;
	}
	header .mobile_menu_top .back_to_site {
		line-height: 95px;
		padding-left: 25px;
	}
	header .mobile_menu_top {
		height: 95px;
		font-size: 24px;
	}
	header .close_menu_btn {
		height: 95px;
		width: 95px;
	}
	header .mobile_menu.active {
		width: calc(100% - 95px);
	}
	.home_page_tpl .our_events .event_wrap .date,
	.home_page_tpl .our_events .event_wrap .price,
	.home_page_tpl .our_events .event_wrap .address,
	.events_tpl .events_list .event_wrap .date,
	.events_tpl .events_list .event_wrap .price,
	.events_tpl .events_list .event_wrap .address,
	.profile_tpl .event_wrap .date,
	.profile_tpl .event_wrap .price,
	.profile_tpl .event_wrap .address{
		height: 34px;
		background-position: center left;
		padding-left: 30px;
	}
	.home_page_tpl .top_section .form,
	.form-control label,
	.form-control .control-label,
	.home_page_tpl .our_events .all_events{
		font-size: 24px;
	}
	.form-control label{
		top: -32px;
	}
	.form-control input, .form-control select{
		height: 60px;
	}
	.home_page_tpl .grey_section .cost .cost_tile .title,
	.home_page_tpl .our_events .event_wrap .title,
	.profile_tpl .event_wrap .title,
	.events_tpl .events_list .event_wrap .title,
	.event_inner_tpl .event_info .info_title,
	.event_inner_tpl .buy_ticket_form .title-space,
	.contact_page_tpl .contact_info .contacts .contacts_title,
	.contact_page_tpl .contact_form .title,
	.faq_tpl .faq_tile .title,
	.faq_inner_tpl .accordion a{
		font: 600 30px/38px "Open Sans";
	}
	.event_inner_tpl .event_info .price_wrap .title,
	.event_inner_tpl .event_info .price_wrap .price{
		font: 600 24px/34px "Open Sans";
	}
	.event_inner_tpl .event_info .price_wrap .title {
		width: 220px;
	}
	.home_page_tpl .testimonials_section {
		padding: 100px 0;
	}
	.home_page_tpl.home-event .who_we_are {
		padding: 100px 0 250px;
	}
	.home_page_tpl .advantages {
		margin-bottom: 100px;
	}

	.home_page_tpl .advantages .block_1 .btn,
	.home_page_tpl .top_section a.black_btn,
	.home_page_tpl .top_section .form .btn,
	.home_page_tpl .all_events_btn,
	.home_page_tpl .photoes_slider_wrap .text .btn,
	.home_page_tpl .grey_section .cost .cost_tile .btn,
	.home_page_tpl .our_events .event_wrap .btn,
	.events_tpl .events_list .event_wrap .btn,
	.event_inner_tpl .buy_ticket_form .btn,
	.contact_page_tpl .btn,
	#log_in_page .btn,
	#sign_up_page .btn,
	.faq_tpl .top_section .search_field .btn,
	.faq_inner_tpl .top_section .search_field .btn,
	.profile_tpl .edit_box .form_wrap .btn,
	.profile_tpl .event_wrap .btn{
		font-size: 24px;
		line-height: 60px;
		height: 60px;
	}
	.faq_tpl .top_section .search_field, .faq_inner_tpl .top_section .search_field{
		height: 64px;
	}
	.faq_tpl .top_section .search_field input, .faq_inner_tpl .top_section .search_field input{
		height: 60px;
	}
	.home_page_tpl .places_count_section>div {
		padding-top: 50%;
	}
	.home_page_tpl .places_count_section .bigger_block {
		width: 60%;
	}
	.home_page_tpl .places_count_section .small_block {
		width: 40%;
	}
	.home_page_tpl .our_events {
		padding-top: 100px;
	}
	.home_page_tpl .our_events h3,
	.home_page_tpl .our_events .all_events{
		margin: 0 0 30px 15px;
	}
	.profile_tpl .event_wrap,
	.home_page_tpl .our_events .event_wrap,
	.events_tpl .events_list .event_wrap{
		width: calc(100% - 30px);
		margin: 30px 15px;
		height: auto;
	}
	.profile_tpl .event_wrap .btn,
	.home_page_tpl .our_events .event_wrap .btn,
	.events_tpl .events_list .event_wrap .btn{
		margin: 25px auto 30px auto;
	}
	.profile_tpl .event_wrap .title,
	.home_page_tpl .our_events .event_wrap .title,
	.events_tpl .events_list .event_wrap .title{
		height: auto;
		margin: 20px 15px 20px 20px;
	}
	.profile_tpl .event_wrap .description,
	.events_tpl .events_list .event_wrap .description{
		height: auto;
	}
	.events_tpl .event_filter .tabs_filter{
		width: 100%;
		float: none;
		text-align: center;
		clear: both;
		margin: 20px 0;
	}
	.summary{
		text-align: center;
		font-size: 20px;
	}
	.profile_tpl .summary{
		margin: 30px 0;
	}
	.events_tpl .event_filter #datepicker {
		margin: 0 auto;
		float: none;
		width: 160px;
		font-size: 24px;
	}
	.contact_page_tpl .custom_checkbox + label{
		float: none;
	}
	.faq_tpl .faq_tile{
		width: calc(100% - 30px);
	}
	#log_in_page .form, #sign_up_page .form{
		width: 645px;
	}
	#log_in_page .forgot_pass {
		line-height: 20px !important;
	}
	#sign_up_page .select{
		height: 60px;
	}


	.profile_main_menu{
		display: none;
	}
	.profile_tpl .edit_box {
		width: 100%;
		padding: 0 10px 50px;
	}
}