/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------LOG IN / SIGN UP PAGE------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

#log_in_page,
#sign_up_page{
	width: 100%;
	min-height: 100%;
	text-align: center;
}
#log_in_page .logo,
.become-member .logo,
#sign_up_page .logo{
	width: 118px;
	height: 56px;
	margin: 20px auto 0;
	position: relative;
	display: inline-block;
}

#log_in_page .page_divider,
.become-member .page_divider,
#sign_up_page .page_divider{
	height: 1px;
	background: #dfe0e6;
	width: 100%;
	margin: 20px 0;
	clear: both;
}
#log_in_page h2,
#sign_up_page h2{
	max-width: 570px;
}
#log_in_page .form,
#sign_up_page .form{
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
	width: 360px;
	margin: 15px auto 0;
	position: relative;
	font: 400 12px/20px "Open Sans";
	text-align: left;
}
#log_in_page .form_title,
#sign_up_page .form_title{
	text-align: center;
	color: #2a2937;
	font: 700 40px "Open Sans";
	margin-bottom: 20px;
}
#log_in_page .form_title{
	text-align: center;
	color: #2a2937;
	font: 700 30px "Open Sans";
	margin-bottom: 20px;
}
#log_in_page .form-control,
#sign_up_page .form-control {
	width: 100%;
}
#log_in_page .forgot_pass{
	color: #6d6d6d;
	margin: 10px 0;
}
#log_in_page .btn,
#sign_up_page .btn{
	display: block;
	margin: 20px 0;
	width: 100%;
}
#log_in_page .register_account,
#sign_up_page .register_account{
	display: block;
	text-align: center;
}

#sign_up_page .secure_info{
	padding: 0 0 0 30px;
	margin: 10px 0;
	background: url("../img/secure.png") no-repeat;
}
#sign_up_page .btn{
	width: 100%;
}
#sign_up_page .register_account{
	width: 100%;
}


.select {
	display:flex;
	flex-direction: column;
	position:relative;
	width:100%;
	height:40px;
	border: 1px solid #bdc4c9;
	margin-bottom: 35px;
}
.select .option {
	padding:0 30px 0 10px;
	min-height:38px;
	display:flex;
	align-items:center;
	background:#fff;
	border-top:#222 solid 1px;
	position:absolute;
	top:0;
	width: 100%;
	pointer-events:none;
	order:2;
	z-index:1;
	transition:background .4s ease-in-out;
	box-sizing:border-box;
	overflow:hidden;
	white-space:nowrap;
	border-top: 1px solid #bdc4c9;
}
.select:focus{
	outline: none;
}
.select:focus .option {
	position:relative;
	pointer-events:all;
	border-left: 1px solid #bdc4c9;
	border-right: 1px solid #bdc4c9;
	border-bottom: 1px solid #bdc4c9;

	left: -1px;
	width: calc(100% + 2px);
}
.select input {
	opacity:0;
	position:absolute;
	left:-99999px;
}
.select input:checked + label {
	order: 1;
	z-index:2;
	background:#fff;
	border-top:none;
	position:relative;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;


	left: 0 !important;
	width: 100% !important;
}
.select input:checked + label:after {
	content:'';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #bdc4c9;
	position:absolute;
	right:10px;
	top:calc(50% - 2.5px);
	pointer-events:none;
	z-index:3;
}
.select input:checked + label:before {
	position:absolute;
	right:0;
	height: 40px;
	width: 40px;
	content: '';
	background:#fff;
}



footer .bottom_line{
    text-align: center;
    color: #fff;
    font: 400 16px "Open Sans";
    height: 67px;
    line-height: 67px;
    background: #000;
}


/*EVENTS PAGE*/
.events_tpl .top_section {
	height: 300px;
	background: url(../img/events_top_section_bg.jpg) center / cover no-repeat;
	color: #fff;
	text-align: left;
	display: table;
	width: 100%;
	margin-bottom: 60px;
}
.events_tpl .top_section > div {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 30px;
	padding-left: 50px;
}
.events_tpl .top_section h1 {
	font: 700 54px/54px "Open Sans";
	letter-spacing: -1.35px;
	margin: 0;
	padding: 0 15px;
}
.events_tpl .top_section h1 span{
	color: #fe5000;
	font-weight: 300;
}

.events_tpl .left_side{
	width: 280px;
}
.events_tpl .left_side .search_events{
	margin: 0 0 20px;
}
.events_tpl .left_side .search_events input{
	position: relative;
	display: block;
	width: calc(100% - 30px);
	line-height: 42px;
	cursor: pointer;
	background: #fff url(../img/search.png) calc(100% - 8px) center no-repeat;
	border: 1px solid #bdc4c9;
	padding: 10px 15px;
	color: #2a2937;
	font: 400 15px "Open Sans";
	margin: 15px 0 45px 0;
}
.events_tpl .left_side .search_events input:focus{
	outline: none;
}
.events_tpl .left_side .title{
	font: 600 22px/24px "Open Sans";
	color: #262435;
	margin: 0 0 20px;
}
.events_tpl .left_side .category_list{
	margin: 0 0 30px;
}
.events_tpl .left_side .category_list > div{
	margin: 10px 0;
}
.events_tpl .left_side .category_list a{
	color: #484848;
	font: 600 14px/20px "Open Sans";
}
.events_tpl .events_list{
	width: calc(100% - 320px);
	padding-bottom: 100px;
	margin-left: 40px;
	padding-top: 22px;
}
.events_tpl .events_list .event_wrap{
	width: calc((100% - 90px) / 3);
	margin: 15px 30px 25px 0;
	border: 1px solid #e6e8ea;
}
.events_tpl .events_list .event_wrap .top_section {
	height: 0;
	padding-top: 50%;
	background-image: url(/img/profile_no_bg.png);
	background-size: 70px;
	background-color: #dde1ec;
	background-position: center;
	position: relative;
	margin: 0;
}
.events_tpl .events_list .event_wrap .top_section .favourite{
	width: 24px;
	height: 22px;
	background: url("../img/favourite.png") no-repeat;
	position: absolute;
	display: inline-block;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}
.events_tpl .events_list .event_wrap .top_section .favourite.active{
	background: url("../img/favourite_active.png") no-repeat;
}
.events_tpl .events_list .event_wrap .title{
	font: 600 18px/24px "Open Sans";
	color: #262435;
	margin: 20px 15px 5px 20px;
	height: 73px;
}
.events_tpl .events_list .event_wrap .description{
	margin: 0 15px 10px 20px;
	height: 32px;
	overflow: hidden;
	color: #707f8c;
	font: 600 13px/16px "Open Sans";
}
.events_tpl .events_list .event_wrap .date,
.events_tpl .events_list .event_wrap .price,
.events_tpl .events_list .event_wrap .address{
	margin: 0 15px 10px 20px;
	height: 16px;
	overflow: hidden;
	font: 600 13px/16px "Open Sans";
	color: #484848;
	padding-left: 20px;
}
.events_tpl .events_list .event_wrap .date{
	background: url("../img/calendar.png") left 1px / 13px no-repeat;
}
.events_tpl .events_list .event_wrap .address{
	background: url("../img/address.png") left 0 / 13px no-repeat;
}
.events_tpl .events_list .event_wrap .price{
	background: url("../img/price.png") 4px 2px / 6px no-repeat;
}
.events_tpl .events_list .event_wrap .btn{
	margin: 20px auto;
	display: block;
	width: calc(100% - 40px);
}
.events_tpl .event_filter{

}
.events_tpl .event_filter #datepicker{
	padding-left: 20px;
	background: url(../img/calendar.png) left 6px / 13px no-repeat;
	position: relative;
}
.events_tpl .event_filter #datepicker input{
	opacity: 0;
	position: absolute;
	top: 0;
}
.events_tpl .event_filter .tabs_filter a{
	padding: 3px 10px;
	margin: 0 20px;
	color: #484848;
	font: 600 14px/20px "Open Sans";
}
.events_tpl .event_filter .tabs_filter a.active{
	border-bottom: 3px solid #fe5000;
}
.events_tpl .pagination,
.profile_tpl .pagination {
	font-size: 0;
	padding: 0;
	float: left;
	border: 1px solid #e6e8ea;
	clear: both;
}
.events_tpl .pagination li,
.profile_tpl .pagination li{
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	border-right: 1px solid #e6e8ea;
	vertical-align: -webkit-baseline-middle;
}
.events_tpl .pagination li:last-child,
.profile_tpl .pagination li:last-child{
	border: none;
}
.events_tpl .pagination li a,
.profile_tpl .pagination li a,
.events_tpl .pagination li span,
.profile_tpl .pagination li span{
	color: #484848;
	display: block;
	font: 600 14px/40px "Open Sans";
}
.events_tpl .pagination li a:hover,
.profile_tpl .pagination li a:hover{
	background: #f7f7f7;
}































/*----------------TOP SECTION MAIN PAGE------------------*/
.home_page_tpl .top_section{
	height: 900px;
	color: #fff;
	text-align: center;
	display: table;
	width: 100%;
	padding-right: 500px;
	position: relative;
}
.home_page_tpl .top_section > div.bg{
	background: url("../img/space_top_section_bg.jpg") center / cover no-repeat;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 0 40px 0 100px;
	position: relative;
}
.home_page_tpl .top_section > div.bg:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 76%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(24%, rgba(0,0,0,0.5)), color-stop(50%, rgba(0,0,0,0.5)), color-stop(76%, rgba(0,0,0,0.5)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 76%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 76%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 76%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 24%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 76%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.home_page_tpl .top_section h1{
    font: 700 60px/70px "Oswald";
    letter-spacing: -1.35px;
    margin: 100px 0 30px;
    padding: 0 15px;
	position: relative;
}
.home_page_tpl .top_section h1 small{
	font: 700 37px/48px "Oswald";
	display: block;
	position: relative;
}
.home_page_tpl .top_section p{
	font: 300 18px "Open Sans";
	margin: 0;
	padding: 0 15px;
	color: #fff;
	position: relative;
}
.home_page_tpl .top_section a.black_btn{
	margin: 30px 15px 0;
	padding: 0 40px;
	position: relative;
}
.home_page_tpl .header{
	position: absolute;
	width: 100%;
	height: 120px;
	padding: 24px 30px;
	z-index: 1;
}
.home_page_tpl .header a{
	color: #000;
	margin: 0 15px;
}
.home_page_tpl .header .blue_btn{
	border-radius: 3px;
	color: #fff;
}
.home_page_tpl .header .active{
	border-radius: 3px;
	border: 1px solid #0061ff;
	color: #000;
}
.home_page_tpl .header .logo{
	display: inline-block;
}
.home_page_tpl .top_section .form_wrap{
	position: absolute;
	right: 0;
	top: 0;
	width: 500px;
	height: 100%;
	display: table;
}
.home_page_tpl .top_section .form_wrap .form{
	vertical-align: middle;
	display: table-cell;
	padding: 0 70px;
}
.home_page_tpl .top_section .form_title {
	text-align: center;
	color: #2a2937;
	font: 700 40px "Open Sans";
	margin-bottom: 20px;
}
.home_page_tpl .top_section .form {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
	max-width: 360px;
	width: 100%;
	margin: 15px auto 0;
	position: relative;
	font: 400 12px/20px "Open Sans";
	text-align: left;
	color: #000;
}
.home_page_tpl .top_section .forgot_pass {
	color: #6d6d6d;
	margin: 10px 0;
}
.home_page_tpl .top_section .form .btn {
	display: block;
	margin: 20px 0;
	width: 100%;
}
.home_page_tpl .organizations{
    background: #ede7d7;
    padding: 0 40px;
    text-align: center;
	font-size: 0;
	line-height: 0;
}
.home_page_tpl .organizations img {
	margin: 10px 20px;
	height: 40px;
}
.home_page_tpl .all_events_carousel {
	color: #fff;
	height: 445px;
	margin: 10px 0 0;
}
.home_page_tpl .all_events_carousel .carousel-cell{
	width: 445px;
	height: 445px;
	overflow: hidden;
	margin: 0 5px;
	display: table;
	background: #FFE0E1;
}
.home_page_tpl .all_events_carousel .carousel-cell:focus{
	outline: none;
}
.home_page_tpl .all_events_carousel .events_carousel_wrap {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
	text-align: center;
	position: relative;
}
.home_page_tpl .all_events_carousel .events_carousel_wrap:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 24%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 76%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(24%, rgba(0,0,0,0.3)), color-stop(50%, rgba(0,0,0,0.3)), color-stop(76%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 24%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 76%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 24%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 76%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 24%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 76%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 24%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 76%, rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.home_page_tpl .all_events_carousel .events_carousel_wrap .address{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 25px;
	left: 0;
	padding: 0 20px;
	color: #fff;
	font: 400 20px/24px "Open Sans";
}
.home_page_tpl .all_events_carousel .events_carousel_wrap .title{
	font: 600 36px/50px 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	position: relative;
}
.home_page_tpl .all_events_carousel .events_carousel_wrap .date{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 25px;
	left: 0;
	padding: 0 20px;
	color: #fff;
	font: 400 24px/30px "Open Sans";
}
.home_page_tpl .all_events_carousel .slick-next {
	right: 10px;
	background: #020202 url(../img/slick_next.png) 10px 7px / 7px no-repeat;
}
.home_page_tpl .all_events_carousel .slick-prev {
	right: 10px;
	background: #020202 url(../img/slick_prev.png) 8px 7px / 7px no-repeat;
}
.home_page_tpl .all_events_carousel .slick-prev {
	left: 10px;
	z-index: 1;
}
.home_page_tpl .all_events_carousel .slick-next,
.home_page_tpl .all_events_carousel .slick-prev {
	border: 2px solid #4d4d4d;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.home_page_tpl .all_events_btn{
	border-radius: 3px;
	border: 1px solid #0061ff;
	color: #0061ff;
	text-transform: uppercase;
	display: block;
	margin: 40px auto 0;
	width: 260px;
	font-weight: 600;
}
.slick-prev:before, .slick-next:before{
	display: none;
}
.home_page_tpl .who_we_are{
    position: relative;
    padding: 250px 0;
    text-align: center;
}
.home_page_tpl.home-event .who_we_are{
    padding: 150px 0 250px;
}
.home_page_tpl .who_we_are .wrap{
    max-width: 740px;
    position: relative;
    z-index: 1;
}
.home_page_tpl .who_we_are .wrap p a{
	color: #0060ff;
	text-decoration: underline;
}
.home_page_tpl .who_we_are h3,
.home_page_tpl .testimonials_section h3,
.home_page_tpl .grey_section .cost h3{
    font: 700 54px/70px "Open Sans";
    letter-spacing: -1.35px;
    color: #000;
    margin: 0 0 40px;
}
.home_page_tpl .who_we_are h3 span,
.home_page_tpl .testimonials_section h3 span,
.home_page_tpl .grey_section .cost h3 span{
    text-transform: uppercase;
    display: block;
    color: #0061ff;
    font: 700 25px/40px "Open Sans";
    letter-spacing: 1px;
}
.home_page_tpl .who_we_are:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/who_we_are_1.png) -140px center no-repeat;
	background-size: cover;
}
.home_page_tpl.home-event .who_we_are:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../img/who_we_are_1_event.png) -140px bottom no-repeat;
	background-size: auto;
    z-index: 1;
}
.home_page_tpl .who_we_are:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/who_we_are_2.png) right center no-repeat;
	background-size: contain;
}
.home_page_tpl.home-event .who_we_are:after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../img/who_we_are_2_event.png) right bottom no-repeat;
	background-size: auto;
}


.home_page_tpl .photoes_slider_wrap{
	background: url(../img/photoes_slider_wrap.jpg) center / cover no-repeat;
	padding: 0 0 200px 0;
}
.home_page_tpl .photoes_slider_wrap .photo_slider{
	margin-top: -120px;
	position: relative;
	float: left;
}
.home_page_tpl .photoes_slider_wrap .photo_slider,
.home_page_tpl .photoes_slider_wrap .photo_slider img{
	width: 960px;
	height: 640px;
    z-index: 2;
}
.home_page_tpl .photoes_slider_wrap .text{
	color: #fff;
	width: 760px;
	float: right;
	padding: 30px 30px;
    z-index: 3;
	margin-top: -150px;
	position: relative;
	background: rgb(24, 23, 19);
}
.home_page_tpl .photoes_slider_wrap .text h3{
	font: 700 54px/70px "Open Sans";
	letter-spacing: -1.35px;
	margin: 0;
}
.home_page_tpl .photoes_slider_wrap .text p{
	color: #bebebe;
}
.home_page_tpl .photoes_slider_wrap .text .btn{
	width: 200px;
	margin: 30px 0;
}

.home_page_tpl .advantages{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 60%;
	margin-top: -150px;
	margin-bottom: 130px;
	float: left;
}
.home_page_tpl .advantages .block_1{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(45% - 5px);
	height: 100%;
	background: url(../img/block_1_bg.jpg) center / cover no-repeat;
	text-align: left;
}
.home_page_tpl .advantages .block_1:before,
.home_page_tpl .advantages .block_2:before,
.home_page_tpl .advantages .block_3:before,
.home_page_tpl .advantages .block_4:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.02);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.02)), color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.home_page_tpl .advantages .block_1 .text_wrap{
	bottom: 30px;
	left: 20px;
	right: 20px;
	position: absolute;
}
.home_page_tpl .advantages .block_1 .div_1{
	color: #fbe343;
	font: 600 28px/34px "Open Sans";
}
.home_page_tpl .advantages .block_1 .div_2{
	color: #fff;
	font: 600 28px/34px "Open Sans";
}
.home_page_tpl .advantages .block_1 .div_3{
	color: #fff;
	font: 400 18px/30px "Open Sans";
}
.home_page_tpl .advantages .block_1 .btn{
	width: 200px;
	margin: 30px 0 0;
}
.home_page_tpl .advantages .block_2_wrap{
	position: absolute;
	top: 0;
	right: 0;
	width: 55%;
	height: 100%;
}
.home_page_tpl .advantages .block_2{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(50% - 5px);
	height: calc(50% - 5px);
	background: url(../img/block_2_bg.jpg) center / cover no-repeat;
}
.home_page_tpl .advantages .block_3{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: calc(50% - 5px);
	background: url(../img/block_3_bg.jpg) center / cover no-repeat;
}
.home_page_tpl .advantages .block_4{
	position: absolute;
	top: 50%;
	right: 0;
	width: 100%;
	height: 50%;
	background: url(../img/block_4_bg.jpg) center / cover no-repeat;
}
.home_page_tpl .advantages .block_2 span,
.home_page_tpl .advantages .block_3 span,
.home_page_tpl .advantages .block_4 span{
	position: absolute;
	bottom: 30px;
	color: #fff;
	font: 600 22px/30px "Open Sans";
	left: 20px;
	right: 20px;
	text-align: left;
	text-transform: uppercase;
}

.home_page_tpl .grey_section{
    background: #ede7d7;
    padding: 0 0 100px;
    text-align: center;
}
.home_page_tpl .grey_section .cost p{
    max-width: 710px;
    margin: 0 auto 35px;
}
.home_page_tpl .grey_section .cost .cost_tile{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 360px;
    height: 600px;
    color: #000;
    text-align: left;
    position: relative;
    margin: 40px 10px;
    display: inline-block;     
    vertical-align: -webkit-baseline-middle;
}
.home_page_tpl .grey_section .cost .cost_tile .title{
    font: 400 22px/28px "Open Sans";
    margin-bottom: 15px;
}
.home_page_tpl .grey_section .cost .cost_tile .price{
    font: 400 16px/36px "Open Sans";
}
.home_page_tpl .grey_section .cost .cost_tile .price span{
    font: 800 36px/36px "Open Sans";
}
.home_page_tpl .grey_section .cost .cost_tile .divider {
    clear: both;
    border-bottom: 1px solid #dbdbdb;
    margin: 20px 0;
}
.home_page_tpl .grey_section .cost .cost_tile ul{
	padding: 0;
}
.home_page_tpl .grey_section .cost .cost_tile li{
	padding: 0 0 0 25px;
	background: url(../img/check_black.png) 2px 6px no-repeat;
	margin-bottom: 10px;
	font: 400 14px/22px "Open Sans";
}
.home_page_tpl .grey_section .cost .cost_tile .btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: calc(100% - 60px);
}
.home_page_tpl .grey_section .cost .cost_tile .divider.bottom {
	position: absolute;
	bottom: 100px;
	left: 30px;
	margin: 0;
	width: calc(100% - 60px);
}

.home_page_tpl .testimonials_section{
	padding: 150px 0;
	text-align: center;
}
.home_page_tpl .testimonials_section .testimonials_slider{
	padding: 50px 0;
	width: calc(100% - 60px);
	margin: 0 auto 30px;
}
.home_page_tpl .testimonials_section .slick-slide{
	border: 1px solid #d1cbbb;
	padding: 20px 30px 30px;
	margin: 10px;
}
.home_page_tpl .testimonials_section .slick-slide:focus{
	outline: none;
}
.home_page_tpl .testimonials_section .social_img{
	width: 40px;
	height: 40px;
	margin: 0 0 10px;
}
.home_page_tpl .testimonials_section .social_img.tw{
	background: url(../img/tw_icon.png) center / 34px no-repeat;
}
.home_page_tpl .testimonials_section .text{
	color: #707f8c;
	text-align: left;
	font: 400 14px/22px "Open Sans";
	font-style: italic;
}
.home_page_tpl .testimonials_section .author{
	color: #707f8c;
	text-align: left;
	font: 600 16px/22px "Open Sans";
	font-style: italic;
	margin: 15px 0 0 40px;
}
.home_page_tpl .testimonials_section .slick-prev:before,
.home_page_tpl .testimonials_section .slick-next:before{
	border: 1px solid #e8e8e8;
	font-size: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
.home_page_tpl .testimonials_section .slick-prev:before{
	background: url(../img/arrow_left_grey.png) center / 12px no-repeat;
}
.home_page_tpl .testimonials_section .slick-next:before{
	background: url(../img/arrow_right_grey.png) center / 12px no-repeat;
}
.home_page_tpl .slick-dots li{
	margin: 0;
}
.home_page_tpl .slick-dots li button:before{
	font-size: 11px;
}
.home_page_tpl .slick-dots li.slick-active button:before{
	color: #0061ff;
}



.home_page_tpl .places_count_section{
	max-width: 1600px;
	margin: 0 auto;
	width: 100%;
}
.home_page_tpl .places_count_section>div{
	width: 100%;
	height: 0;
	padding-top: 35%;
	background: #eee;
	position: relative;
}
.home_page_tpl .places_count_section .bigger_block{
	width: 75%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	font: 600 36px/42px "Open Sans";
}
.home_page_tpl .places_count_section .small_block{
	width: 25%;
	height: 50%;
	position: absolute;
	left: 0;
	background-size: cover;
	background-position: center;
	font: 600 25px/28px "Open Sans";
}
.home_page_tpl .places_count_section .small_block.sm_1{
	top: 0;
}
.home_page_tpl .places_count_section .small_block.sm_2{
	top: 50%;
}
.home_page_tpl .places_count_section .text{
	color: #fff;
	position: absolute;
	bottom: 30px;
	left: 24px;
}

.home_page_tpl .our_events{
	position: relative;
	padding-top: 340px;
}
.home_page_tpl .our_events:before{
	position: absolute;
	content: '';
	background: #ede7d7;
	height: 340px;
	width: 100%;
	top: 0;
	left: 0;
}
.home_page_tpl .our_events .wrap{
	max-width: 1000px;
}
.home_page_tpl .our_events h3 {
	font: 700 30px/34px "Open Sans";
	letter-spacing: -1.35px;
	margin: -206px 0 30px 15px;
	color: #000;
	float: left;
	position: relative;
}
.home_page_tpl .our_events h3 span {
	color: #fe5000;
	font-weight: 400;
}

.home_page_tpl .our_events .all_events{
	font: 700 14px/34px "Open Sans";
	color: #0061ff;
	padding-right: 15px;
	position: relative;
	margin: -206px 15px 30px;
	float: right;
	background: url(../img/arrow_right_blue.png) right 13px / 10px no-repeat;
	display: inline-block;
}
.home_page_tpl .our_events .event_wrap{
	width: calc((100% - 90px) / 3);
	margin: -146px 15px 50px 15px;
	border: 1px solid #e6e8ea;
	height: 430px;
	position: relative;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10980392156862745);
}
.home_page_tpl .our_events .event_wrap .top_section {
	height: 0;
	padding: 50% 0 0 0;
	background-image: url(../img/profile_no_bg.png);
	background-size: 70px;
	background-color: #dde1ec;
	background-position: center;
	position: relative;
	margin: 0;
}
.home_page_tpl .our_events .event_wrap .top_section .favourite{
	width: 24px;
	height: 22px;
	background: url("../img/favourite.png") no-repeat;
	position: absolute;
	display: inline-block;
	right: 10px;
	bottom: 10px;
}
.home_page_tpl .our_events .event_wrap .top_section .favourite.active{
	background: url("../img/favourite_active.png") no-repeat;
}
.home_page_tpl .our_events .event_wrap .title{
	font: 600 22px/24px "Open Sans";
	color: #262435;
	margin: 20px 15px 5px 20px;
	height: 80px;
	overflow: hidden;
}
.home_page_tpl .our_events .event_wrap .description{
	margin: 0 15px 5px 20px;
	height: 32px;
	overflow: hidden;
	color: #707f8c;
	font: 600 13px/16px "Open Sans";
}
.home_page_tpl .our_events .event_wrap .date,
.home_page_tpl .our_events .event_wrap .price,
.home_page_tpl .our_events .event_wrap .address{
	margin: 0 15px 10px 20px;
	height: 16px;
	overflow: hidden;
	font: 600 13px/16px "Open Sans";
	color: #484848;
	padding-left: 20px;
}
.home_page_tpl .our_events .event_wrap .date{
	background: url("../img/calendar.png") left 1px / 13px no-repeat;
}
.home_page_tpl .our_events .event_wrap .address{
	background: url("../img/address.png") left 0 / 13px no-repeat;
}
.home_page_tpl .our_events .event_wrap .price{
	background: url("../img/price.png") 4px 2px / 6px no-repeat;
}
.home_page_tpl .our_events .event_wrap .btn{
	margin: 60px auto 10px auto;
	display: block;
	width: calc(100% - 40px);
}














/*---------------------------------------------*/
/*---------------------------------------------*/
/*----------------CONTACT PAGE-----------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

.contact_page_tpl .top_section {
	height: 300px;
	background: url(../img/contact_top_section_bg.jpg) center / cover no-repeat;
	color: #fff;
	text-align: left;
	display: table;
	width: 100%;
	margin-bottom: 60px;
}
.contact_page_tpl .top_section > div {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 30px;
	padding-left: 50px;
}
.contact_page_tpl .top_section h1 {
	font: 700 54px/54px "Open Sans";
	letter-spacing: -1.35px;
	margin: 0;
	padding: 0 15px;
}
.contact_page_tpl .top_section h1 span{
	color: #fe5000;
	font-weight: 300;
}
.contact_page_tpl .contact_info{
	width: calc(100% - 400px);
	margin-bottom: 50px;
}
.contact_page_tpl .contact_info .divider{
	clear: both;
	border-bottom: 1px solid #dbdbdb;
	margin: 30px 0;
}
.contact_page_tpl .contact_info .contacts {
	font: 600 18px/35px "Open Sans";
	color: #000;
	margin-bottom: 40px;
}
.contact_page_tpl .contact_info .contacts .contacts_title {
	font: 600 24px/34px "Open Sans";
	margin-bottom: 20px;
}
.contact_page_tpl .contact_info .contacts .phone {
	padding-left: 30px;
	background: url(../img/phone.png) left 10px / 18px no-repeat;
}
.contact_page_tpl .contact_info .contacts .email {
	padding-left: 30px;
	background: url(../img/email.png) left 10px / 18px no-repeat;
}
.contact_page_tpl .contact_info .contacts .address {
	padding-left: 30px;
	background: url(../img/address.png) left 7px / 18px no-repeat;
}

.contact_page_tpl .contact_form{
	margin-bottom: 50px;
	width: 370px;
	border: 1px solid #dbdbdb;
	background: #fcfcfc;
	padding: 20px 30px;
	font: 400 12px/20px "Open Sans";
}
.contact_page_tpl .contact_form .title {
	border-bottom: 1px solid #dbdbdb;
	font: 600 22px/40px "Open Sans";
	padding-bottom: 10px;
	color: #262435;
	margin: 0 0 45px;
}
.contact_page_tpl .btn{
	display: block;
	margin: 20px 0;
	width: 100%;
}


.event_inner_tpl .top_section{
	height: 570px;
	background: url(../img/events_top_section_bg.jpg) center / cover no-repeat;
	color: #fff;
	text-align: left;
	display: table;
	width: 100%;
	margin-bottom: 60px;
	position: relative;
}
.event_inner_tpl .top_section:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.02);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.02)), color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.event_inner_tpl .top_section > div {
	display: table-cell;
	vertical-align: bottom;
	padding-bottom: 30px;
	padding-left: 50px;
}
.event_inner_tpl .top_section h1 {
	font: 700 54px/54px "Open Sans";
	letter-spacing: -1.35px;
	margin: 0;
	padding: 0 15px;
	position: relative;
}
.event_inner_tpl .top_section h1 span {
	color: #fe5000;
	font-weight: 300;
}
.event_inner_tpl .buy_ticket_form{
	width: 370px;
	border: 1px solid #dbdbdb;
	background: #fcfcfc;
	padding: 20px 30px;
	font: 400 12px/20px "Open Sans";
}
.event_inner_tpl .buy_ticket_form{
	margin-bottom: 50px;
	position: relative;
}
.event_inner_tpl .buy_ticket_form #remember{
	left: 33px;
}
.event_inner_tpl .buy_ticket_form .title{
	border-bottom: 1px solid #dbdbdb;
	font: 600 22px/40px "Open Sans";
	padding-bottom: 10px;
	color: #262435;
	margin: 0 0 45px;
}
.event_inner_tpl .buy_ticket_form .price_count {
	color: #000000;
	font: 300 14px/35px "Open Sans";
	margin-bottom: 20px;
}
.event_inner_tpl .buy_ticket_form .price_count .divider{
	clear: both;
	border-bottom: 1px solid #dbdbdb;
}
.event_inner_tpl .buy_ticket_form .btn{
	width: 100%;
	margin-top: 20px;
}
.event_inner_tpl .event_info{
	width: calc(100% - 400px);
	margin-bottom: 50px;
}
.event_inner_tpl .event_info .title{
	font: 600 30px/30px "Open Sans";
	color: #262435;
	margin-bottom: 30px;
}
.event_inner_tpl .event_info .title .date{
	width: 50px;
	height: 50px;
	color: #fff;
	margin-right: 15px;
	background: #fe5000;
	text-align: center;
	font: 600 22px/22px "Open Sans";
	padding: 7px 0 0 0;
}
.event_inner_tpl .event_info .title .date .mounth{
	font: 600 12px/12px "Open Sans";
}
.event_inner_tpl .event_info .title .address{
	font: 300 14px/24px "Open Sans";
}
.event_inner_tpl .additional_place_info ul{
	margin: 30px 0 !important;
	overflow: auto;
	padding: 0;
}
.event_inner_tpl .additional_place_info li{
	padding: 0 0 0 20px;
	margin-right: 35px;
	float: left;
}
.event_inner_tpl .additional_place_info .sits_count{
	background: url(../img/sits_count.png) left center no-repeat;
}
.event_inner_tpl .additional_place_info .square{
	background: url(../img/square.png) left center no-repeat;
}
.event_inner_tpl .additional_place_info .kitchens{
	background: url(../img/kitchens.png) left center no-repeat;
}
.event_inner_tpl .additional_place_info .conference_room{
	background: url(../img/conference_room.png) left center no-repeat;
}
.event_inner_tpl .event_info p {
	color: #6d6d6d;
	font: 400 16px/30px "Open Sans";
	margin: 30px 0;
}
.event_inner_tpl .event_info .divider {
	clear: both;
	border-bottom: 1px solid #dbdbdb;
	margin: 30px 0;
}
.event_inner_tpl .event_info .price_wrap{
	margin: 60px 0;
}
.event_inner_tpl .event_info .price_wrap .title{
	font: 600 18px/20px "Open Sans";
	float: left;
	width: 200px;
	margin: 0;
	position: relative;
}
.event_inner_tpl .event_info .price_wrap .title span{
	color: #707f8c;
	font: 400 15px/20px "Open Sans";
	position: absolute;
	bottom: -20px;
	left: 0;
}
.event_inner_tpl .event_info .price_wrap .price{
	color: #0061ff;
	font: 600 18px/20px "Open Sans";
}
.event_inner_tpl .event_info .contacts{
	font: 600 18px/35px "Open Sans";
	color: #000;
	margin-bottom: 40px;
}
.event_inner_tpl .event_info .info_title{
	font: 600 24px/34px "Open Sans";
	margin-bottom: 20px;
	color: #000;
}
.event_inner_tpl .event_info .contacts .phone {
	padding-left: 30px;
	background: url(../img/phone.png) left 10px / 18px no-repeat;
}
.event_inner_tpl .event_info .contacts .email {
	padding-left: 30px;
	background: url(../img/email.png) left 10px / 18px no-repeat;
}
.event_inner_tpl .event_info .contacts .address {
	padding-left: 30px;
	background: url(../img/address.png) left 7px / 18px no-repeat;
}
.event_inner_tpl .event_info .things_inside .thing_title{
	float: left;
	color: #484848;
	font-weight: 700;
	width: 200px;
	padding-right: 20px;
	margin: 20px 0;
}
.event_inner_tpl .event_info .things_inside .description{
	float: left;
	width: calc(100% - 200px);
	margin: 20px 0;
}
.event_inner_tpl .event_info .schedule_table {
	width: 100%;
	text-align: left;
	border-spacing: initial;
	border: 1px solid #f7f8f9;
	margin: 0 0 50px;
	font: 400 14px/18px "Open Sans";
}
.event_inner_tpl .event_info .schedule_table th,
.event_inner_tpl .event_info .schedule_table td{
	padding: 15px 10px;
	border: 1px solid #f1f1f1;
}
.event_inner_tpl .event_info .schedule_table th{
	background: #f8f8f8;
}
.event_inner_tpl .event_info .schedule_table .time{
	text-align: center;
	color: #898a93;
	width: 90px;
}
.event_inner_tpl .event_info .schedule_table .theme{
	color: #484848;
	font-weight: 700;
}
.event_inner_tpl .event_info .schedule_table .time span{
	display: block;
}
.event_inner_tpl .event_info .schedule_table .speaker{
	margin: 20px 0;
}
.event_inner_tpl .event_info .schedule_table .avatar{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin: 0 10px 20px 0;
	background-size: cover;
	background-position: center;
}
.event_inner_tpl .event_info .schedule_table .name{
	color: #484848;
	font-weight: 700;
}

.event_inner_tpl .prev_next_pagination:after{
	clear: both;
	content: '';
	display: block;
}
.event_inner_tpl .prev_next_pagination .post_pagination_section{
	width: 50%;
	float: left;
	position: relative;
	height: 0;
	padding-top: 25%;
	color: #fff;
	background-position: center;
	background-size: cover;
}
.event_inner_tpl .prev_next_pagination .post_pagination_section:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.02);
	background: -moz-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.02)), color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.event_inner_tpl .prev_next_pagination .post_pagination_section p{
	position: absolute;
	bottom: 0;
	color: #fff;
	font: 600 24px/34px "Open Sans";
}
.event_inner_tpl .prev_next_pagination .post_pagination_section.prev p{
	right: 30px;
	text-align: right;
	padding-left: 45px;
	background: url(../img/arrow_left_grey.png) left bottom / 30px no-repeat;
}
.event_inner_tpl .prev_next_pagination .post_pagination_section.next p{
	left: 30px;
	text-align: left;
	padding-right: 45px;
	background: url(../img/arrow_right_grey.png) right bottom / 30px no-repeat;
}
.event_inner_tpl .prev_next_pagination .post_pagination_section p span{
	display: block;
	font: 300 20px/34px "Open Sans";
}
.event_inner_tpl .partner_wrap{
	padding: 10px 20px;
}
.event_inner_tpl .partner_wrap img{
	height: 50px;
}



/*custon input number*/
.custom_input_number{
	position: relative;
}
.custom_input_number .cin_btn:hover{
	background: #DDDDDD;
}
.custom_input_number .cin_btn{
	color: #707070;
	cursor: pointer;
	width: 42px;
	text-align: center;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	height: 100%;
	top: 0;
	border-left: 1px solid #bdc4c9;
	font: 500 18px/42px "Verdana";
	position: absolute;
}
.custom_input_number .cin_decrement {
	right: 42px;
}
.custom_input_number .cin_increment {
	right: 0;
}
.custom_input_number input::-webkit-outer-spin-button, /*hide arrows*/
.custom_input_number input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.custom_input_number input[type='number'] {
	-moz-appearance: textfield;
}
.custom_input_number *::-moz-selection {background: rgba(0,0,0,0); /* delete selections */}
.custom_input_number *::selection {background: rgba(0,0,0,0); }


/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------FAQ---------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

.faq_tpl .top_section,
.faq_inner_tpl .top_section{
	height: 400px;
	background: url("../img/faq_top_section_bg.jpg") center / cover no-repeat;
	color: #fff;
	text-align: center;
	display: table;
	width: 100%;
}
.faq_tpl .top_section > div,
.faq_inner_tpl .top_section > div{
	display: table-cell;
	vertical-align: middle;
}
.faq_tpl .top_section h1,
.faq_inner_tpl .top_section h1{
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px;
}
.faq_tpl .top_section .search_field,
.faq_inner_tpl .top_section .search_field{
	width: 900px;
	display: inline-block;
	height: 50px;
	background: #fff;
	padding: 2px;
	margin: 30px 0 0 0;
	border-radius: 3px;
}
.faq_tpl .top_section .search_field .btn,
.faq_inner_tpl .top_section .search_field .btn{
	border-radius: 3px;
	width: 200px;
}
.faq_tpl .top_section .search_field input,
.faq_inner_tpl .top_section .search_field input{
	width: calc(100% - 240px);
	margin: 0 20px;
	height: 45px;
	border: none;
	padding-left: 30px;
	background: url(../img/search.png) center left / 17px no-repeat;
}
.faq_tpl .top_section .search_field input:focus,
.faq_inner_tpl .top_section .search_field input:focus{
	outline: none;
}
.faq_tpl .wrap{
	padding: 150px 0;
	text-align: center;
}
.faq_inner_tpl .wrap{
	padding: 100px 0;
	max-width: 660px;
}

.faq_inner_tpl .wrap h2{
	text-align: center;
	font-weight: 700;
	margin-bottom: 30px;
	color: #000;
}
.faq_tpl .wrap h2{
	text-align: center;
	font-weight: 700;
	margin-bottom: 100px;
}
.faq_tpl .faq_tile{
	display: inline-block;
	border: 1px solid #dfe0e6;
	border-radius: 5px;
	text-align: left;
	padding: 30px 20px;
	margin: 15px 10px;
	width: 370px;
}
.faq_tpl .faq_tile .title{
	font: 700 22px/24px "Open Sans";
	height: 48px;
	overflow: hidden;
	color: #000;
}
.faq_tpl .faq_tile .text{
	height: 77px;
	overflow: hidden;
	margin: 0 0 15px;
}
.faq_tpl .faq_tile .read_more{
	font: 600 16px/24px "Open Sans";
}

.faq_inner_tpl .accordion a {
	position: relative;
	display: block;
	padding: 30px 0;
	color: #000;
	border-bottom: 1px solid #ecedf3;
	font: 700 18px/24px "Open Sans";
}
.faq_inner_tpl .accordion a:hover,
.faq_inner_tpl .accordion a:hover::after {
	cursor: pointer;
	color: #4068fb;
}
.faq_inner_tpl .accordion a:hover::after {
	border: 1px solid #03b5d2;
}
.faq_inner_tpl .accordion a.active {
	color: #4068fb;
	border-bottom: 1px solid transparent;
}
.faq_inner_tpl .accordion .content {
	opacity: 0;
	max-height: 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	clear: both;
	-webkit-transition: all 0.2s ease 0.15s;
	-o-transition: all 0.2s ease 0.15s;
	transition: all 0.2s ease 0.15s;
}
.faq_inner_tpl .accordion .content p {
	font: 400 16px/30px "Open Sans";
	color: #6d6d6d;
	margin-top: 0;
}
.faq_inner_tpl .accordion .content.active {
	opacity: 1;
	padding: 0;
	max-height: 100%;
	-webkit-transition: all 0.35s ease 0.15s;
	-o-transition: all 0.35s ease 0.15s;
	transition: all 0.35s ease 0.15s;
}


/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------------ABOUT US-------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
.about_us_tpl .top_section{
	height: 450px;
	background: url("../img/contact_top_section_bg.jpg") center / cover no-repeat;
	color: #fff;
	text-align: center;
	display: table;
	width: 100%;
}
.about_us_tpl .top_section > div{
	display: table-cell;
	vertical-align: middle;
}
.about_us_tpl .top_section h1{
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px 70px;
}
.about_us_tpl .three_things{
    margin: -80px 0 0 0;
}
.about_us_tpl .three_things .slide_wrap{
	width: 440px;
}
.about_us_tpl .slick-list{
	height: 300px;
}
.about_us_tpl .slick-slide {
    width: 440px;
    padding: 0 10px;
}
.about_us_tpl .slick-slide > div{
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
}
.about_us_tpl .slick-slide .num{
    font: 300 40px/54px "Open Sans";
    display: inline-block;
    border-bottom: 2px solid #0080ff;
    padding: 5px 20px;
}
.about_us_tpl .slick-slide .title{
    font: 600 18px "Open Sans";
    margin: 15px 0;
}
.about_us_tpl .slick-slide .text{
    font: 400 14px "Open Sans";
    margin: 15px 0;
    color: #6d6d6d;
}
.about_us_tpl .comunity_description{
	padding: 100px 0;
}
.about_us_tpl .comunity_description .img_wrap{
	width: 50%;
	text-align: center;
    padding: 40px 0;
}
.about_us_tpl .comunity_description .img_wrap div{
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.about_us_tpl .comunity_description .img_wrap div:before {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    left: -15px;
    top: -15px;
    background: url(../img/our_worldwide_family.jpg) repeat;
    z-index: -1;
}
.about_us_tpl .comunity_description .text_wrap{
	width: 50%;
}
.about_us_tpl .comunity_description .text_wrap h2{
	margin: 0 0 20px;
}
.about_us_tpl .start_good_deed{
	background: rgba(97,63,219,1);
	background: -moz-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(97,63,219,1)), color-stop(100%, rgba(197,107,239,1)));
	background: -webkit-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
	background: -o-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
	background: -ms-linear-gradient(left, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
	background: linear-gradient(to right, rgba(97,63,219,1) 0%, rgba(197,107,239,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#613fdb', endColorstr='#c56bef', GradientType=1 );
	padding: 40px 0;
	color: #fff;
}
.about_us_tpl .start_good_deed .text_wrap{
	width: calc(100% - 275px);
}
.about_us_tpl .start_good_deed .btn{
	width: 225px;
    margin: 10px 0;
}
.about_us_tpl .start_good_deed h3{
	margin: 0;
    font: 700 24px "Open Sans";
}
.about_us_tpl .start_good_deed p{
	color: #d1d1d1;
    margin: 0;
}
.about_us_tpl .directors{
	padding: 100px 15px;
}
.about_us_tpl .directors h2{
	text-align: center;
}
.about_us_tpl .divider{
	height: 1px;
	background: #e8e8e8;
	margin: 40px 0;
}

.about_us_tpl .director_wrap{
	display: table;
    padding: 50px 0;
}
.about_us_tpl .director_wrap .photo_wrap{
	display: table-cell;
    vertical-align: middle;
    width: 400px;
    text-align: center;
}
.about_us_tpl .director_wrap .photo_wrap > div{
	display: inline-block;
	position: relative;
}
.about_us_tpl .director_wrap .photo_wrap > div:before {
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 40px);
    left: -15px;
    top: -15px;
    background: url(../img/our_worldwide_family.jpg) repeat;
    z-index: -1;
}
.about_us_tpl .director_wrap .text_wrap{
	display: table-cell;
    vertical-align: middle;
}
.about_us_tpl .director_wrap .text_wrap .name{
	font: 700 24px "Open Sans";
    color: #262435;
}





/*---------------------------------------------*/
/*---------------------------------------------*/
/*------------------PARTNERS-------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
.our_partners_tpl .top_section {
    height: 800px;
    background: url(../img/how_it_works.jpg) center / cover no-repeat;
    color: #fff;
    text-align: center;
    display: table;
    width: 100%;
}
.our_partners_tpl .top_section .form-control {
    width: 400px;
    display: inline-block;
    text-align: left;
}
.our_partners_tpl .top_section .btn{
    margin-left: 20px;
    width: 120px;
}
.our_partners_tpl .top_section > div {
    display: table-cell;
    vertical-align: middle;
}
.our_partners_tpl .top_section h1 {
    font: 700 54px/54px "Open Sans";
    letter-spacing: -1.35px;
    margin: 0;
    padding: 0 15px;
}
.our_partners_tpl .top_section h2 {
    font: 300 26px "Open Sans";
    letter-spacing: 0.65px;
    margin: 0 0 50px;
    padding: 0 15px;
    color: #fff;
}
.our_partners_tpl .partners_head{
    border-bottom: 1px solid #dddddd;
    margin: 80px 0 40px;
    padding: 0 0 20px;
}
.our_partners_tpl .partners_head .form-control{
    width: 300px;
}
.our_partners_tpl .partners_head .title{
    font: 400 24px/32px "Open Sans";
}
.our_partners_tpl .country_cities_wrap{
    position: relative;
}
.our_partners_tpl .country_cities_wrap .country{
    float: left;
    color: #262435;
    font: 700 32px/36px "Open Sans";
    width: 320px;
}
.our_partners_tpl .country_cities_wrap .cities_wrap{
    float: left;
    width: calc(100% - 320px);
    padding: 0 20px 150px;
    overflow: auto;
}
.our_partners_tpl .country_cities_wrap .cities_wrap > div {
    float: left;
    width: 33%;
}
.our_partners_tpl .country_cities_wrap .cities_wrap .name{
    float: left;
    width: 60%;                         
    margin: 5px 0;
    height: 36px;
    padding: 0 5px;
}
.our_partners_tpl .country_cities_wrap .cities_wrap .name a{
    color: #2a2937;
    font: 600 14px/18px "Open Sans";    
    display: block;
}
.our_partners_tpl .country_cities_wrap .cities_wrap .city{
    color: #0080ff;
    font: 600 14px/18px "Open Sans";
    height: 36px;
    float: left;
    padding: 0 5px;
    margin: 5px 0;
    width: 40%;      
}




/*---------------------------------------------*/
/*---------------------------------------------*/
/*--------------BECOME A MEMBER----------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/
.become-member{
	text-align: center;
}
.become-member header{
	display: none;
}
.become-member .page_divider{
	margin-bottom: 0;
}
.become-member .become_member_wrap{
	background: #ede7d7;
}
.become-member .become_member_wrap h3 {
	font: 700 54px/70px "Open Sans";
	letter-spacing: -1.35px;
	color: #000;
	padding: 40px 0 20px;
	margin: 0;
}
.become-member .become_member_wrap h4 {
	font: 700 30px/40px "Open Sans";
	letter-spacing: -1.35px;
	color: #000;
	padding: 0;
	margin: 20px 0;
}
.become-member .become_member_wrap h5 {
	font: 700 24px/30px "Open Sans";
	letter-spacing: -1.35px;
	color: #000;
	padding: 0;
	margin: 20px 0;
	text-align: left;
}
.become-member .become_member_wrap .note{
	text-align: left;
	padding: 40px 0;
	max-width: 660px;
	margin: 0 auto;
}
.become-member .membership_includes{
	text-align: left;
	padding: 0;
	max-width: 660px;
	margin: 0 auto 40px;
}
.become-member .membership_includes li{
	margin: 10px 0;
	padding: 0 0 0 25px;
	background: url(../img/check_black.png) 2px 6px no-repeat;
}
.become-member .facility_features{
	text-align: left;
	padding: 0;
	max-width: 660px;
	margin: 0 auto 40px;
}
.become-member .facility_features li{
	margin: 10px 0;
	padding: 0 0 0 25px;
	font-weight: 600;
	color: #000;
	font: 600 20px "Open Sans";
	background: url(../img/check_black.png) 2px 6px no-repeat;
}
.become-member .facility_features li span{
	display: block;
	color: #6d6d6d;
	font: 400 16px "Open Sans";
	font-style: italic;
}
.become-member .facility_features li span a{
	font-weight: 600;
}
.become-member .cost_tile{
	background: #fff;
	border-radius: 10px;
	padding: 30px;
	width: 360px;
	height: 620px;
	color: #000;
	text-align: left;
	position: relative;
	margin: 40px 10px;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
}
.become-member .cost_tile .title{
	font: 600 22px/28px "Open Sans";
	margin-bottom: 15px;
}
.become-member .cost_tile .price{
	font: 400 16px/36px "Open Sans";
}
.become-member .cost_tile .price span{
	font: 800 36px/36px "Open Sans";
}
.become-member .cost_tile .divider {
	clear: both;
	border-bottom: 1px solid #dbdbdb;
	margin: 20px 0;
}
.become-member .cost_tile ul{
	padding: 0;
}
.become-member .cost_tile li{
	padding: 0 0 0 25px;
	background: url(../img/check_black.png) 2px 6px no-repeat;
	margin-bottom: 10px;
	font: 400 14px/22px "Open Sans";
}
.become-member .cost_tile .btn {
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: calc(100% - 60px);
}
.become-member .cost_tile .divider.bottom {
	position: absolute;
	bottom: 100px;
	left: 30px;
	margin: 0;
	width: calc(100% - 60px);
}
.become-member .skip{
	font: 600 20px/22px "Open Sans";
	padding: 50px 0;
	color: #9c9c9c;
	font-style: italic;
	display: block;
	text-decoration: underline;
}




@media (max-width: 1400px){
	.home_page_tpl .top_section {
		height: 700px;
	}
	.home_page_tpl .header a {
		margin: 0 10px;
	}
	.home_page_tpl .top_section .form_wrap{
		width: 450px;
	}
	.home_page_tpl .top_section {
		padding-right: 450px;
	}
	.home_page_tpl .top_section .form_wrap .form {
		padding: 0 40px;
	}
	.wrap{
		max-width: 1200px;
	}
}
@media (max-width: 1200px){
	.home_page_tpl .who_we_are {
		padding: 200px 0;
	}
	.home_page_tpl .who_we_are:before {
		background: url(../img/who_we_are_1.png) -200px center / cover no-repeat;
	}
	.home_page_tpl .who_we_are:after {
		background: url(../img/who_we_are_2.png) calc(100% + 100px) center / contain no-repeat;
	}
	.home_page_tpl .grey_section .cost .cost_tile {
		padding: 20px;
		width: 300px;
	}
	.home_page_tpl .grey_section .cost .cost_tile .title {
		margin-bottom: 5px;
	}
	.home_page_tpl .grey_section .cost .cost_tile .divider {
		margin: 10px 0;
	}
	.home_page_tpl .grey_section .cost .cost_tile li {
		padding: 0 0 0 20px;
		background: url(../img/check_black.png) 2px 8px no-repeat;
		background-size: 10px;
	}
	.events_tpl .left_side {
		width: 195px;
	}
	.events_tpl .events_list {
        width: calc(100% - 215px);
        margin-left: 20px;
	}
	.home_page_tpl .top_section h1 small {
		font: 700 32px/38px "Oswald";
	}
	.home_page_tpl .top_section h1 {
		font: 700 40px/54px "Oswald";
		padding: 0 0 0 15px;
	}
	.home_page_tpl .top_section > div.bg {
		padding: 0 40px 0 25px;
	}

}









#alert-message{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 24px;
    padding: 15px;
    z-index: 100000000;
    background: rgb(255, 207, 185, 0.9);
    text-align: center;
}

.glyphicon-chevron-left:before{
	content:'<';
}
.glyphicon-chevron-left:before{
	content:'<';
}
.glyphicon-chevron-right:before{
	content:'>';
}
#sign_up_page div.step_1 button.submit{
	display: none;
}
.i-agree-block{
	position: relative;
}
.i-agree-block input[type="checkbox"]{
	display: block;
	position: absolute;
	top: 17px;
	opacity: 0;
}
.profile_tpl .ticket_tile.print-version .price{
	bottom: 112px;
}
.profile_tpl .ticket_tile.print-version > div > .divider{
	bottom: 93px;
}

.profile_tpl a.print{
	margin-left: 200px;
}
.profile_tpl a.print:before{
	content: '';
	width: 33px;
	height: 33px;
	display: inline-block;
	background: url(../img/print.png) center / contain no-repeat;
}